{"swagger":"2.0","info":{"description":"Our api provides access to our cloud services","version":"2.19.20","title":"KORONA.cloud API v3","contact":{"email":"support@combase.net"},"license":{"name":"KORONA.cloud API License","url":"https://support.korona.de/agb/"}},"host":"www.koronacloud.com","basePath":"/web/api/v3","tags":[{"name":"delivery notes","description":"(KORONA.invoicing required)"},{"name":"dispatch notifications","description":"(KORONA.retail required)"},{"name":"inventories","description":"(KORONA.retail required)"},{"name":"item sequences","description":"(KORONA.food required)"},{"name":"stock adjustments","description":""},{"name":"stock orders","description":"(KORONA.retail required)"},{"name":"stock receipts","description":"(KORONA.retail required)"},{"name":"store orders","description":""},{"name":"accounts"},{"name":"additional receipt info types"},{"name":"assortments"},{"name":"ticketing"},{"name":"cashier roles"},{"name":"cashiers"},{"name":"cashier verification requirements"},{"name":"commodity groups"},{"name":"contraAccounts"},{"name":"costCenters"},{"name":"coupons"},{"name":"currencies"},{"name":"customer display configurations"},{"name":"customer groups"},{"name":"customer orders"},{"name":"customers"},{"name":"device configuration variables"},{"name":"discountConfigurations"},{"name":"discountLevels"},{"name":"economic zones"},{"name":"external system calls"},{"name":"fiscal units"},{"name":"images"},{"name":"info texts"},{"name":"itemSequences"},{"name":"korona account"},{"name":"languages"},{"name":"messages"},{"name":"number range configurations"},{"name":"organizational units"},{"name":"payment method categories"},{"name":"payment methods"},{"name":"pos button layouts"},{"name":"pos page layout configurations"},{"name":"pos profiles"},{"name":"points of sale"},{"name":"price groups"},{"name":"price rules"},{"name":"products"},{"name":"production types"},{"name":"promotions"},{"name":"receipt layout configurations"},{"name":"receipts"},{"name":"reportFiles"},{"name":"revenueAccounts"},{"name":"sales taxes"},{"name":"sectors"},{"name":"special price configurations"},{"name":"statistics"},{"name":"suppliers"},{"name":"tags"},{"name":"time tracking"},{"name":"user roles"},{"name":"voucher configurations"},{"name":"vouchers"}],"schemes":["https"],"paths":{"/accounts/{koronaAccountId}/accounts":{"get":{"tags":["accounts"],"summary":"lists all accounts","description":"","operationId":"getAccounts","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"page","in":"query","description":"number of the page to fetch","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"amount of objects to return per page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"attribute to sort by (multiple separated by comma; max. 5)","required":false,"type":"string"},{"name":"revision","in":"query","description":"last revision number, objects with a greater revision than this will be returned","required":false,"type":"integer","format":"int64"},{"name":"includeDeleted","in":"query","description":"indicates deleted objects should be loaded or not (default: false)","required":false,"type":"boolean"}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ResultListAccount"}},"204":{"description":"Request successful, but the list is empty. Either there is in general no object on the list or a set filter/restriction in querystring doesn't match any object."},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}},"post":{"tags":["accounts"],"summary":"adds a batch of new accounts","description":"","operationId":"addAccounts","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"upsert","in":"query","description":"when set to true, updates the object instead of generating a already-exists-error","required":false,"type":"boolean"},{"in":"body","name":"body","description":"array of new accounts","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/Account"}}}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/AddOrUpdateResult"}}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}},"delete":{"tags":["accounts"],"summary":"deletes a batch of accounts","description":"","operationId":"deleteAccounts","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"in":"body","name":"body","description":"array of existing accounts (id or number required)","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/Account"}}}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/AddOrUpdateResult"}}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}},"patch":{"tags":["accounts"],"summary":"updates a batch of accounts","description":"[number] must be set in the objects, otherwise the object cannot be updated","operationId":"updateAccounts","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"in":"body","name":"body","description":"an array of existing accounts","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/Account"}}}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/AddOrUpdateResult"}}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}}},"/accounts/{koronaAccountId}/accounts/{accountId}":{"get":{"tags":["accounts"],"summary":"returns a single account","description":"","operationId":"getAccount","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"accountId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Account"}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}},"delete":{"tags":["accounts"],"summary":"deletes the single account","description":"","operationId":"deleteAccount","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"accountId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"}],"security":[{"basicAuth":[]}],"responses":{"204":{"description":"Request successful, delete on single resource does not return any content"},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}},"patch":{"tags":["accounts"],"summary":"updates the single account","description":"if [number] is set, the number of the object will change and the resource location as well","operationId":"updateAccount","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"accountId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"},{"in":"body","name":"body","description":"the properties to update of the account","required":true,"schema":{"$ref":"#/definitions/Account"}}],"security":[{"basicAuth":[]}],"responses":{"204":{"description":"Request successful, patch on single resource does not return any content"},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}}},"/accounts/{koronaAccountId}/additionalReceiptInfoTypes/{additionalReceiptInfoTypeId}":{"get":{"tags":["additional receipt info types"],"summary":"returns the single additional receipt info type","description":"","operationId":"getAdditionalReceiptInfoType","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"additionalReceiptInfoTypeId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/AdditionalReceiptInfoType"}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}},"delete":{"tags":["additional receipt info types"],"summary":"deletes the single additional receipt info type","description":"","operationId":"deleteAdditionalReceiptInfoType","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"additionalReceiptInfoTypeId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"}],"security":[{"basicAuth":[]}],"responses":{"204":{"description":"Request successful, delete on single resource does not return any content"},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}},"patch":{"tags":["additional receipt info types"],"summary":"updates the single additional receipt info type","description":"if [number] is set, the number of the object will change and the resource location as well","operationId":"updateAdditionalReceiptInfoType","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"additionalReceiptInfoTypeId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"},{"in":"body","name":"body","description":"the object to update","required":true,"schema":{"$ref":"#/definitions/AdditionalReceiptInfoType"}}],"security":[{"basicAuth":[]}],"responses":{"204":{"description":"Request successful, patch on single resource does not return any content"},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}}},"/accounts/{koronaAccountId}/additionalReceiptInfoTypes":{"get":{"tags":["additional receipt info types"],"summary":"lists all additional receipt info types","description":"","operationId":"getAdditionalReceiptInfoTypes","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"page","in":"query","description":"number of the page to fetch","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"amount of objects to return per page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"attribute to sort by (multiple separated by comma; max. 5)","required":false,"type":"string"},{"name":"revision","in":"query","description":"last revision number, objects with a greater revision than this will be returned","required":false,"type":"integer","format":"int64"},{"name":"includeDeleted","in":"query","description":"indicates deleted objects should be loaded or not (default: false)","required":false,"type":"boolean"},{"name":"number","in":"query","description":"number of the related object","required":false,"type":"string"}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ResultListAdditionalReceiptInfoType"}},"204":{"description":"Request successful, but the list is empty. Either there is in general no object on the list or a set filter/restriction in querystring doesn't match any object."},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}},"post":{"tags":["additional receipt info types"],"summary":"adds a batch of new additional receipt infos","description":"","operationId":"addAdditionalReceiptInfoTypes","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"upsert","in":"query","description":"when set to true, updates the object instead of generating a already-exists-error","required":false,"type":"boolean"},{"in":"body","name":"body","description":"array of new additional receipt infos","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/AdditionalReceiptInfoType"}}}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/AddOrUpdateResult"}}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}},"delete":{"tags":["additional receipt info types"],"summary":"deletes a batch of additional receipt info types","description":"","operationId":"deleteAdditionalReceiptInfoTypes","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"in":"body","name":"body","description":"array of existing additional receipt infos (id or number required)","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/AdditionalReceiptInfoType"}}}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/AddOrUpdateResult"}}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}},"patch":{"tags":["additional receipt info types"],"summary":"updates a batch of additional receipt info types","description":"[number] must be set in the objects, otherwise the object cannot be updated","operationId":"updateAdditionalReceiptInfoTypes","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"in":"body","name":"body","description":"an array of existing additional receipt infos","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/AdditionalReceiptInfoType"}}}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/AddOrUpdateResult"}}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}}},"/accounts/{koronaAccountId}/assortments":{"get":{"tags":["assortments"],"summary":"lists all assortments","description":"","operationId":"getAssortments","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"page","in":"query","description":"number of the page to fetch","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"amount of objects to return per page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"attribute to sort by (multiple separated by comma; max. 5)","required":false,"type":"string"},{"name":"revision","in":"query","description":"last revision number, objects with a greater revision than this will be returned","required":false,"type":"integer","format":"int64"},{"name":"includeDeleted","in":"query","description":"indicates deleted objects should be loaded or not (default: false)","required":false,"type":"boolean"},{"name":"number","in":"query","description":"number of the related object","required":false,"type":"string"}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ResultListAssortment"}},"204":{"description":"Request successful, but the list is empty. Either there is in general no object on the list or a set filter/restriction in querystring doesn't match any object."},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}},"post":{"tags":["assortments"],"summary":"adds a batch of new assortments","description":"","operationId":"addAssortments","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"upsert","in":"query","description":"when set to true, updates the object instead of generating a already-exists-error","required":false,"type":"boolean"},{"in":"body","name":"body","description":"array of new assortments","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/Assortment"}}}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/AddOrUpdateResult"}}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}},"delete":{"tags":["assortments"],"summary":"deletes a batch of assortments","description":"","operationId":"deleteAssortments","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"in":"body","name":"body","description":"array of existing assortments (id or number required)","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/Assortment"}}}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/AddOrUpdateResult"}}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}},"patch":{"tags":["assortments"],"summary":"updates a batch of assortments","description":"","operationId":"updateAssortments","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"in":"body","name":"body","description":"array of existing assortments (id or number required)","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/Assortment"}}}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/AddOrUpdateResult"}}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}}},"/accounts/{koronaAccountId}/assortments/{assortmentId}":{"get":{"tags":["assortments"],"summary":"returns the single assortment","description":"","operationId":"getAssortment","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"assortmentId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Assortment"}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}},"delete":{"tags":["assortments"],"summary":"deletes the single assortment","description":"","operationId":"deleteAssortment","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"assortmentId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"}],"security":[{"basicAuth":[]}],"responses":{"204":{"description":"Request successful, delete on single resource does not return any content"},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}},"patch":{"tags":["assortments"],"summary":"updates the single assortment","description":"","operationId":"updateAssortment","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"assortmentId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"},{"in":"body","name":"body","description":"the properties to update of the assortment","required":true,"schema":{"$ref":"#/definitions/Assortment"}}],"security":[{"basicAuth":[]}],"responses":{"204":{"description":"Request successful, patch on single resource does not return any content"},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}}},"/accounts/{koronaAccountId}/attendances/{attendanceId}":{"get":{"tags":["ticketing"],"summary":"returns the single attendance","description":"","operationId":"getAttendance","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"attendanceId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Attendance"}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}},"delete":{"tags":["ticketing"],"summary":"cancel the attendance","description":"","operationId":"cancelAttendance","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"attendanceId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"}],"security":[{"basicAuth":[]}],"responses":{"204":{"description":"Request successful, delete on single resource does not return any content"},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}}},"/accounts/{koronaAccountId}/attendances":{"get":{"tags":["ticketing"],"summary":"lists all attendances","description":"","operationId":"getAttendances","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"page","in":"query","description":"number of the page to fetch","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"amount of objects to return per page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"attribute to sort by (multiple separated by comma; max. 5)","required":false,"type":"string"},{"name":"revision","in":"query","description":"last revision number, objects with a greater revision than this will be returned","required":false,"type":"integer","format":"int64"},{"name":"includeDeleted","in":"query","description":"indicates deleted objects should be loaded or not (default: false)","required":false,"type":"boolean"}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ResultListAttendance"}},"204":{"description":"Request successful, but the list is empty. Either there is in general no object on the list or a set filter/restriction in querystring doesn't match any object."},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}},"post":{"tags":["ticketing"],"summary":"updates/adds attendances","description":"","operationId":"addOrUpdateAttendances","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"in":"body","name":"body","description":"an array of attendances","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/Attendance"}}}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/AddOrUpdateResult"}}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}}},"/accounts/{koronaAccountId}/cashierRoles":{"get":{"tags":["cashier roles"],"summary":"lists all cashier roles","description":"","operationId":"getCashierRoles","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"page","in":"query","description":"number of the page to fetch","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"amount of objects to return per page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"attribute to sort by (multiple separated by comma; max. 5)","required":false,"type":"string"},{"name":"revision","in":"query","description":"last revision number, objects with a greater revision than this will be returned","required":false,"type":"integer","format":"int64"},{"name":"includeDeleted","in":"query","description":"indicates deleted objects should be loaded or not (default: false)","required":false,"type":"boolean"},{"name":"number","in":"query","description":"number of the related object","required":false,"type":"string"}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ResultListCashierRole"}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}},"post":{"tags":["cashier roles"],"summary":"adds a batch of new cashier roles","description":"","operationId":"addCashierRoles","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"upsert","in":"query","description":"when set to true, updates the object instead of generating a already-exists-error","required":false,"type":"boolean"},{"in":"body","name":"body","description":"an array of new cashier roles","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/CashierRole"}}}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/AddOrUpdateResult"}}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}},"delete":{"tags":["cashier roles"],"summary":"deletes a batch of cashier roles","description":"","operationId":"deleteCashierRoles","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"in":"body","name":"body","description":"array of existing cashier roles (id or number required)","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/CashierRole"}}}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/AddOrUpdateResult"}}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}},"patch":{"tags":["cashier roles"],"summary":"updates a batch of cashier roles","description":"","operationId":"updateCashierRoles","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"in":"body","name":"body","description":"array of existing cashier roles (id or number required)","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/CashierRole"}}}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/AddOrUpdateResult"}}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}}},"/accounts/{koronaAccountId}/cashierRoles/{cashierRoleId}":{"get":{"tags":["cashier roles"],"summary":"returns the single cashier role","description":"","operationId":"getCashierRole","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"cashierRoleId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/CashierRole"}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}},"delete":{"tags":["cashier roles"],"summary":"deletes the single cashier role","description":"","operationId":"deleteCashierRole","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"cashierRoleId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"}],"security":[{"basicAuth":[]}],"responses":{"204":{"description":"Request successful, delete on single resource does not return any content"},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}},"patch":{"tags":["cashier roles"],"summary":"updates the single cashier role","description":"","operationId":"updateCashierRole","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"cashierRoleId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"},{"in":"body","name":"body","description":"the properties to update of the cashier role","required":true,"schema":{"$ref":"#/definitions/CashierRole"}}],"security":[{"basicAuth":[]}],"responses":{"204":{"description":"Request successful, patch on single resource does not return any content"},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}}},"/accounts/{koronaAccountId}/cashiers/{cashierId}":{"get":{"tags":["cashiers"],"summary":"returns the single cashier","description":"","operationId":"getCashier","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"displayCashierCredentials","in":"query","description":"display cashier credentials loginCode and loginPassword as (HASH|PLAIN|NONE)","required":false,"type":"string","enum":["HASH","PLAIN","NONE"]},{"name":"cashierId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Cashier"}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}},"delete":{"tags":["cashiers"],"summary":"deletes the single cashier","description":"","operationId":"deleteCashier","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"cashierId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"}],"security":[{"basicAuth":[]}],"responses":{"204":{"description":"Request successful, delete on single resource does not return any content"},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}},"patch":{"tags":["cashiers"],"summary":"updates the single cashier","description":"if [number] is set, the number of the object will change and the resource location as well","operationId":"updateCashier","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"cashierId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"},{"in":"body","name":"body","description":"the properties to update of the cashier","required":true,"schema":{"$ref":"#/definitions/Cashier"}}],"security":[{"basicAuth":[]}],"responses":{"204":{"description":"Request successful, patch on single resource does not return any content"},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}}},"/accounts/{koronaAccountId}/cashiers":{"get":{"tags":["cashiers"],"summary":"lists all cashiers","description":"","operationId":"getCashiers","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"page","in":"query","description":"number of the page to fetch","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"amount of objects to return per page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"attribute to sort by (multiple separated by comma; max. 5)","required":false,"type":"string"},{"name":"revision","in":"query","description":"last revision number, objects with a greater revision than this will be returned","required":false,"type":"integer","format":"int64"},{"name":"includeDeleted","in":"query","description":"indicates deleted objects should be loaded or not (default: false)","required":false,"type":"boolean"},{"name":"displayCashierCredentials","in":"query","description":"display cashier credentials loginCode and loginPassword as (HASH|PLAIN|NONE)","required":false,"type":"string","enum":["HASH","PLAIN","NONE"]},{"name":"number","in":"query","description":"number of the related object","required":false,"type":"string"}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ResultListCashier"}},"204":{"description":"Request successful, but the list is empty. Either there is in general no object on the list or a set filter/restriction in querystring doesn't match any object."},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}},"post":{"tags":["cashiers"],"summary":"adds a batch of new cashiers","description":"","operationId":"addCashiers","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"upsert","in":"query","description":"when set to true, updates the object instead of generating a already-exists-error","required":false,"type":"boolean"},{"in":"body","name":"body","description":"array of new cashiers","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/Cashier"}}}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/AddOrUpdateResult"}}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}},"delete":{"tags":["cashiers"],"summary":"deletes a batch of cashiers","description":"","operationId":"deleteCashiers","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"in":"body","name":"body","description":"array of existing cashiers (id or number required)","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/Cashier"}}}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/AddOrUpdateResult"}}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}},"patch":{"tags":["cashiers"],"summary":"updates a batch of cashiers","description":"[number] must be set in the objects, otherwise the object cannot be updated","operationId":"updateCashiers","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"in":"body","name":"body","description":"an array of existing cashiers","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/Cashier"}}}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/AddOrUpdateResult"}}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}}},"/accounts/{koronaAccountId}/cashierVerificationRequirements":{"get":{"tags":["cashier verification requirements"],"summary":"lists all cashier verification requirements","description":"","operationId":"getCashierVerificationRequirements","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"page","in":"query","description":"number of the page to fetch","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"amount of objects to return per page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"attribute to sort by (multiple separated by comma; max. 5)","required":false,"type":"string"},{"name":"revision","in":"query","description":"last revision number, objects with a greater revision than this will be returned","required":false,"type":"integer","format":"int64"},{"name":"includeDeleted","in":"query","description":"indicates deleted objects should be loaded or not (default: false)","required":false,"type":"boolean"},{"name":"number","in":"query","description":"number of the related object","required":false,"type":"string"}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ResultListCashierVerificationRequirement"}},"204":{"description":"Request successful, but the list is empty. Either there is in general no object on the list or a set filter/restriction in querystring doesn't match any object."},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}},"post":{"tags":["cashier verification requirements"],"summary":"adds a batch of new cashier verification requirements","description":"","operationId":"addCashierVerificationRequirements","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"upsert","in":"query","description":"when set to true, updates the object instead of generating a already-exists-error","required":false,"type":"boolean"},{"in":"body","name":"body","description":"array of new cashier verification requirements","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/CashierVerificationRequirement"}}}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/AddOrUpdateResult"}}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}},"delete":{"tags":["cashier verification requirements"],"summary":"deletes a batch of cashier verification requirements","description":"","operationId":"deleteCashierVerificationRequirements","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"in":"body","name":"body","description":"array of existing cashier verification requirements (id or number required)","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/CashierVerificationRequirement"}}}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/AddOrUpdateResult"}}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}},"patch":{"tags":["cashier verification requirements"],"summary":"updates a batch of cashier verification requirements","description":"","operationId":"updateCashierVerificationRequirements","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"in":"body","name":"body","description":"array of existing cashier verification requirements (id or number required)","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/CashierVerificationRequirement"}}}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/AddOrUpdateResult"}}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}}},"/accounts/{koronaAccountId}/cashierVerificationRequirements/{cashierVerificationRequirementId}":{"get":{"tags":["cashier verification requirements"],"summary":"returns the single cashier verification requirement","description":"","operationId":"getCashierVerificationRequirement","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"cashierVerificationRequirementId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/CashierVerificationRequirement"}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}}},"/accounts/{koronaAccountId}/commodityGroups":{"get":{"tags":["commodity groups"],"summary":"lists all commodity groups","description":"","operationId":"getCommodityGroups","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"page","in":"query","description":"number of the page to fetch","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"amount of objects to return per page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"attribute to sort by (multiple separated by comma; max. 5)","required":false,"type":"string"},{"name":"revision","in":"query","description":"last revision number, objects with a greater revision than this will be returned","required":false,"type":"integer","format":"int64"},{"name":"includeDeleted","in":"query","description":"indicates deleted objects should be loaded or not (default: false)","required":false,"type":"boolean"},{"name":"number","in":"query","description":"number of the related object","required":false,"type":"string"}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ResultListCommodityGroup"}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}},"post":{"tags":["commodity groups"],"summary":"adds a batch of new commodity groups","description":"","operationId":"addCommodityGroups","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"upsert","in":"query","description":"when set to true, updates the object instead of generating a already-exists-error","required":false,"type":"boolean"},{"in":"body","name":"body","description":"an array of new commodity groups","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/CommodityGroup"}}}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/AddOrUpdateResult"}}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}},"delete":{"tags":["commodity groups"],"summary":"deletes a batch of commodity groups","description":"","operationId":"deleteCommodityGroups","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"in":"body","name":"body","description":"array of existing commodity groups (id or number required)","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/CommodityGroup"}}}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/AddOrUpdateResult"}}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}},"patch":{"tags":["commodity groups"],"summary":"updates a batch of commodity groups","description":"","operationId":"updateCommodityGroups","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"in":"body","name":"body","description":"array of existing commodity groups (id or number required)","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/CommodityGroup"}}}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/AddOrUpdateResult"}}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}}},"/accounts/{koronaAccountId}/commodityGroups/{commodityGroupId}":{"get":{"tags":["commodity groups"],"summary":"returns the single commodity group","description":"","operationId":"getCommodityGroup","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"commodityGroupId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/CommodityGroup"}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}},"delete":{"tags":["commodity groups"],"summary":"deletes the single commodity group","description":"","operationId":"deleteCommodityGroup","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"commodityGroupId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"}],"security":[{"basicAuth":[]}],"responses":{"204":{"description":"Request successful, delete on single resource does not return any content"},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}},"patch":{"tags":["commodity groups"],"summary":"updates the single commodity group","description":"","operationId":"updateCommodityGroup","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"commodityGroupId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"},{"in":"body","name":"body","description":"the properties to update of the commodity group","required":true,"schema":{"$ref":"#/definitions/CommodityGroup"}}],"security":[{"basicAuth":[]}],"responses":{"204":{"description":"Request successful, patch on single resource does not return any content"},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}}},"/accounts/{koronaAccountId}/contraAccounts":{"get":{"tags":["contraAccounts"],"summary":"lists all contra accounts","description":"","operationId":"getContraAccounts","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"page","in":"query","description":"number of the page to fetch","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"amount of objects to return per page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"attribute to sort by (multiple separated by comma; max. 5)","required":false,"type":"string"},{"name":"revision","in":"query","description":"last revision number, objects with a greater revision than this will be returned","required":false,"type":"integer","format":"int64"},{"name":"includeDeleted","in":"query","description":"indicates deleted objects should be loaded or not (default: false)","required":false,"type":"boolean"},{"name":"number","in":"query","description":"number of the related object","required":false,"type":"string"}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ResultListContraAccount"}},"204":{"description":"Request successful, but the list is empty. Either there is in general no object on the list or a set filter/restriction in querystring doesn't match any object."},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}},"post":{"tags":["contraAccounts"],"summary":"adds a batch of new contra accounts","description":"","operationId":"addContraAccounts","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"upsert","in":"query","description":"when set to true, updates the object instead of generating a already-exists-error","required":false,"type":"boolean"},{"in":"body","name":"body","description":"array of new contra accounts","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ContraAccount"}}}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/AddOrUpdateResult"}}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}},"delete":{"tags":["contraAccounts"],"summary":"deletes a batch of contra accounts","description":"","operationId":"deleteContraAccounts","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"in":"body","name":"body","description":"array of existing contra accounts (id or number required)","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ContraAccount"}}}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/AddOrUpdateResult"}}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}},"patch":{"tags":["contraAccounts"],"summary":"updates a batch of contra accounts","description":"[number] must be set in the objects, otherwise the object cannot be updated","operationId":"updateContraAccounts","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"in":"body","name":"body","description":"an array of existing contra accounts","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ContraAccount"}}}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/AddOrUpdateResult"}}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}}},"/accounts/{koronaAccountId}/contraAccounts/{contraAccountId}":{"get":{"tags":["contraAccounts"],"summary":"returns a single contra account","description":"","operationId":"getContraAccount","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"contraAccountId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ContraAccount"}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}},"delete":{"tags":["contraAccounts"],"summary":"deletes the single contra account","description":"","operationId":"deleteContraAccount","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"contraAccountId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"}],"security":[{"basicAuth":[]}],"responses":{"204":{"description":"Request successful, delete on single resource does not return any content"},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}},"patch":{"tags":["contraAccounts"],"summary":"updates the single contra account","description":"if [number] is set, the number of the object will change and the resource location as well","operationId":"updateContraAccount","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"contraAccountId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"},{"in":"body","name":"body","description":"the properties to update of the contra account","required":true,"schema":{"$ref":"#/definitions/ContraAccount"}}],"security":[{"basicAuth":[]}],"responses":{"204":{"description":"Request successful, patch on single resource does not return any content"},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}}},"/accounts/{koronaAccountId}/costCenters":{"get":{"tags":["costCenters"],"summary":"lists all cost centers","description":"","operationId":"getCostCenters","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"page","in":"query","description":"number of the page to fetch","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"amount of objects to return per page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"attribute to sort by (multiple separated by comma; max. 5)","required":false,"type":"string"},{"name":"revision","in":"query","description":"last revision number, objects with a greater revision than this will be returned","required":false,"type":"integer","format":"int64"},{"name":"includeDeleted","in":"query","description":"indicates deleted objects should be loaded or not (default: false)","required":false,"type":"boolean"},{"name":"number","in":"query","description":"number of the related object","required":false,"type":"string"}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ResultListCostCenter"}},"204":{"description":"Request successful, but the list is empty. Either there is in general no object on the list or a set filter/restriction in querystring doesn't match any object."},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}},"post":{"tags":["costCenters"],"summary":"adds a batch of new cost centers","description":"","operationId":"addCostCenters","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"upsert","in":"query","description":"when set to true, updates the object instead of generating a already-exists-error","required":false,"type":"boolean"},{"in":"body","name":"body","description":"array of new cost centers","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/CostCenter"}}}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/AddOrUpdateResult"}}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}},"delete":{"tags":["costCenters"],"summary":"deletes a batch of cost centers","description":"","operationId":"deleteCostCenters","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"in":"body","name":"body","description":"array of existing cost centers (id or number required)","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/CostCenter"}}}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/AddOrUpdateResult"}}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}},"patch":{"tags":["costCenters"],"summary":"updates a batch of cost centers","description":"[number] must be set in the objects, otherwise the object cannot be updated","operationId":"updateCostCenters","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"in":"body","name":"body","description":"an array of existing cost centers","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/CostCenter"}}}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/AddOrUpdateResult"}}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}}},"/accounts/{koronaAccountId}/costCenters/{costCenterId}":{"get":{"tags":["costCenters"],"summary":"returns a single cost center","description":"","operationId":"getCostCenter","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"costCenterId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/CostCenter"}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}},"delete":{"tags":["costCenters"],"summary":"deletes the single cost center","description":"","operationId":"deleteCostCenter","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"costCenterId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"}],"security":[{"basicAuth":[]}],"responses":{"204":{"description":"Request successful, delete on single resource does not return any content"},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}},"patch":{"tags":["costCenters"],"summary":"updates the single cost center","description":"if [number] is set, the number of the object will change and the resource location as well","operationId":"updateCostCenter","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"costCenterId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"},{"in":"body","name":"body","description":"the properties to update of the cost center","required":true,"schema":{"$ref":"#/definitions/CostCenter"}}],"security":[{"basicAuth":[]}],"responses":{"204":{"description":"Request successful, patch on single resource does not return any content"},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}}},"/accounts/{koronaAccountId}/coupons":{"get":{"tags":["coupons"],"summary":"lists all coupons","description":"","operationId":"getCoupons","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"page","in":"query","description":"number of the page to fetch","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"amount of objects to return per page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"attribute to sort by (multiple separated by comma; max. 5)","required":false,"type":"string"},{"name":"revision","in":"query","description":"last revision number, objects with a greater revision than this will be returned","required":false,"type":"integer","format":"int64"},{"name":"number","in":"query","description":"number of the related object","required":false,"type":"string"}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ResultListCoupon"}},"204":{"description":"Request successful, but the list is empty. Either there is in general no object on the list or a set filter/restriction in querystring doesn't match any object."},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}}},"/accounts/{koronaAccountId}/coupons/{couponId}":{"get":{"tags":["coupons"],"summary":"returns the single coupon","description":"","operationId":"getCoupon","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"couponId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Coupon"}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}}},"/accounts/{koronaAccountId}/ticketCreation":{"get":{"tags":["ticketing"],"summary":"creation tasks, personalization will always be empty for technical reasons","description":"","operationId":"getCreationTasks","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"creationTimeFrom","in":"query","description":"creation time from","required":false,"type":"string","format":"date-time"},{"name":"creationTimeTo","in":"query","description":"creation time to","required":false,"type":"string","format":"date-time"},{"name":"statuses","in":"query","description":"creation task statuses","required":false,"type":"array","items":{"type":"string","enum":["PREPARED","RUNNING","FINISHED","FAILED"]},"collectionFormat":"multi"}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ResultListCreationTask"}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}},"post":{"tags":["ticketing"],"summary":"adds a creation task","description":"","operationId":"addCreationTask","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"in":"body","name":"body","description":"a single ticket creation task","required":true,"schema":{"$ref":"#/definitions/CreationTask"}}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/AddOrUpdateResult"}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}}},"/accounts/{koronaAccountId}/currencies/{currencyId}":{"get":{"tags":["currencies"],"summary":"returns the single currency","description":"","operationId":"getCurrency","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"currencyId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Currency"}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}}},"/accounts/{koronaAccountId}/currencies":{"get":{"tags":["currencies"],"summary":"lists all currencies","description":"","operationId":"getCurrencies","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"page","in":"query","description":"number of the page to fetch","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"amount of objects to return per page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"attribute to sort by (multiple separated by comma; max. 5)","required":false,"type":"string"},{"name":"revision","in":"query","description":"last revision number, objects with a greater revision than this will be returned","required":false,"type":"integer","format":"int64"},{"name":"includeDeleted","in":"query","description":"indicates deleted objects should be loaded or not (default: false)","required":false,"type":"boolean"},{"name":"number","in":"query","description":"number of the related object","required":false,"type":"string"}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ResultListCurrency"}},"204":{"description":"Request successful, but the list is empty. Either there is in general no object on the list or a set filter/restriction in querystring doesn't match any object."},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}},"post":{"tags":["currencies"],"summary":"adds a batch of new currencies","description":"","operationId":"addCurrencies","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"upsert","in":"query","description":"when set to true, updates the object instead of generating a already-exists-error","required":false,"type":"boolean"},{"in":"body","name":"body","description":"array of new currencies","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/Currency"}}}],"security":[{"basicAuth":[]}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/AddOrUpdateResult"}}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}}},"delete":{"tags":["currencies"],"summary":"deletes a batch of currencies","description":"","operationId":"deleteCurrencies","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"in":"body","name":"body","description":"array of existing currencies (id or number required)","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/Currency"}}}],"security":[{"basicAuth":[]}],"resp
[...]
