{"swagger":"2.0","info":{"description":"Our api provides access to our cloud services","version":"2.13.40","title":"KORONA.cloud API v3","contact":{"email":"support@combase.net"},"license":{"name":"KORONA.cloud API License","url":"https://support.korona.de/agb/"}},"host":"www.koronacloud.com","basePath":"/web/api/v3","tags":[{"name":"delivery notes","description":"(KORONA.invoicing required)"},{"name":"inventories","description":"(KORONA.retail required)"},{"name":"stock receipts","description":"(KORONA.retail required)"},{"name":"accounts"},{"name":"additional receipt info types"},{"name":"assortments"},{"name":"ticketing"},{"name":"cashiers"},{"name":"commodity groups"},{"name":"ticket creation"},{"name":"currencies"},{"name":"customer groups"},{"name":"customer orders"},{"name":"customers"},{"name":"economic zones"},{"name":"external system calls"},{"name":"images"},{"name":"info texts"},{"name":"korona account"},{"name":"organizational units"},{"name":"payment methods"},{"name":"points of sale"},{"name":"price groups"},{"name":"products"},{"name":"receipts"},{"name":"sales taxes"},{"name":"sectors"},{"name":"statistics"},{"name":"suppliers"},{"name":"tags"},{"name":"time tracking"}],"schemes":["https"],"paths":{"/accounts/{koronaAccountId}/accounts/{accountId}":{"get":{"tags":["accounts"],"summary":"returns the single account","description":"","operationId":"getAccount","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"accountId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Account"}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]}},"/accounts/{koronaAccountId}/accounts":{"get":{"tags":["accounts"],"summary":"lists all accounts","description":"","operationId":"getAccounts","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"page","in":"query","description":"number of the page to fetch","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"amount of objects to return per page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"attribute to sort by (multiple separated by comma; max. 5)","required":false,"type":"string"},{"name":"revision","in":"query","description":"last revision number, objects with a greater revision than this will be returned","required":false,"type":"integer","format":"int64"},{"name":"includeDeleted","in":"query","description":"indicates deleted objects should be loaded or not (default: false)","required":false,"type":"boolean"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ResultListAccount"}},"204":{"description":"Request successful, but the list is empty. Either there is in general no object on the list or a set filter/restriction in querystring doesn't match any object."},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]}},"/accounts/{koronaAccountId}/additionalReceiptInfoTypes/{additionalReceiptInfoTypeId}":{"get":{"tags":["additional receipt info types"],"summary":"returns the single additional receipt info type","description":"","operationId":"getAdditionalReceiptInfoType","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"additionalReceiptInfoTypeId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/AdditionalReceiptInfoType"}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]}},"/accounts/{koronaAccountId}/additionalReceiptInfoTypes":{"get":{"tags":["additional receipt info types"],"summary":"lists all additional receipt info types","description":"","operationId":"getAdditionalReceiptInfoTypes","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"page","in":"query","description":"number of the page to fetch","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"amount of objects to return per page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"attribute to sort by (multiple separated by comma; max. 5)","required":false,"type":"string"},{"name":"revision","in":"query","description":"last revision number, objects with a greater revision than this will be returned","required":false,"type":"integer","format":"int64"},{"name":"includeDeleted","in":"query","description":"indicates deleted objects should be loaded or not (default: false)","required":false,"type":"boolean"},{"name":"number","in":"query","description":"number of the related object","required":false,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ResultListAdditionalReceiptInfoType"}},"204":{"description":"Request successful, but the list is empty. Either there is in general no object on the list or a set filter/restriction in querystring doesn't match any object."},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]}},"/accounts/{koronaAccountId}/assortments/{assortmentId}":{"get":{"tags":["assortments"],"summary":"returns the single assortment","description":"","operationId":"getAssortment","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"assortmentId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Assortment"}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]},"delete":{"tags":["assortments"],"summary":"deletes the single assortment","description":"","operationId":"deleteAssortment","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"assortmentId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"}],"responses":{"204":{"description":"Request successful, delete on single resource does not return any content"},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]},"patch":{"tags":["assortments"],"summary":"updates the single assortment","description":"","operationId":"updateAssortment","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"assortmentId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"},{"in":"body","name":"body","description":"the properties to update of the assortment","required":true,"schema":{"$ref":"#/definitions/Assortment"}}],"responses":{"204":{"description":"Request successful, patch on single resource does not return any content"},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]}},"/accounts/{koronaAccountId}/assortments":{"get":{"tags":["assortments"],"summary":"lists all assortments","description":"","operationId":"getAssortments","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"page","in":"query","description":"number of the page to fetch","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"amount of objects to return per page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"attribute to sort by (multiple separated by comma; max. 5)","required":false,"type":"string"},{"name":"revision","in":"query","description":"last revision number, objects with a greater revision than this will be returned","required":false,"type":"integer","format":"int64"},{"name":"includeDeleted","in":"query","description":"indicates deleted objects should be loaded or not (default: false)","required":false,"type":"boolean"},{"name":"number","in":"query","description":"number of the related object","required":false,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ResultListAssortment"}},"204":{"description":"Request successful, but the list is empty. Either there is in general no object on the list or a set filter/restriction in querystring doesn't match any object."},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]},"post":{"tags":["assortments"],"summary":"adds a batch of new assortments","description":"","operationId":"addAssortments","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"upsert","in":"query","description":"when set to true, updates the object instead of generating a already-exists-error","required":false,"type":"boolean"},{"in":"body","name":"body","description":"array of new assortments","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/Assortment"}}}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/AddOrUpdateResult"}}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]},"delete":{"tags":["assortments"],"summary":"deletes a batch of assortments","description":"","operationId":"deleteAssortments","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"in":"body","name":"body","description":"array of existing assortments (id or number required)","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/Assortment"}}}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/AddOrUpdateResult"}}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]},"patch":{"tags":["assortments"],"summary":"updates a batch of assortments","description":"","operationId":"updateAssortments","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"in":"body","name":"body","description":"array of existing assortments (id or number required)","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/Assortment"}}}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/AddOrUpdateResult"}}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]}},"/accounts/{koronaAccountId}/attendance":{"get":{"tags":["ticketing"],"summary":"lists all attendances","description":"","operationId":"getAttendances","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"page","in":"query","description":"number of the page to fetch","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"amount of objects to return per page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"attribute to sort by (multiple separated by comma; max. 5)","required":false,"type":"string"},{"name":"revision","in":"query","description":"last revision number, objects with a greater revision than this will be returned","required":false,"type":"integer","format":"int64"},{"name":"includeDeleted","in":"query","description":"indicates deleted objects should be loaded or not (default: false)","required":false,"type":"boolean"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ResultListAttendance"}},"204":{"description":"Request successful, but the list is empty. Either there is in general no object on the list or a set filter/restriction in querystring doesn't match any object."},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]},"post":{"tags":["ticketing"],"summary":"updates/adds attendances","description":"","operationId":"addOrUpdateAttendances","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"in":"body","name":"body","description":"an array of attendances","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/Attendance"}}}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/AddOrUpdateResult"}}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]}},"/accounts/{koronaAccountId}/attendance/{attendanceId}":{"delete":{"tags":["ticketing"],"summary":"cancel the attendance","description":"","operationId":"cancelAttendance","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"attendanceId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"}],"responses":{"204":{"description":"Request successful, delete on single resource does not return any content"},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]}},"/accounts/{koronaAccountId}/cashiers/{cashierId}":{"get":{"tags":["cashiers"],"summary":"returns the single cashier","description":"","operationId":"getCashier","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"cashierId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Cashier"}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]}},"/accounts/{koronaAccountId}/cashiers":{"get":{"tags":["cashiers"],"summary":"lists all cashiers","description":"","operationId":"getCashiers","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"page","in":"query","description":"number of the page to fetch","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"amount of objects to return per page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"attribute to sort by (multiple separated by comma; max. 5)","required":false,"type":"string"},{"name":"revision","in":"query","description":"last revision number, objects with a greater revision than this will be returned","required":false,"type":"integer","format":"int64"},{"name":"includeDeleted","in":"query","description":"indicates deleted objects should be loaded or not (default: false)","required":false,"type":"boolean"},{"name":"number","in":"query","description":"number of the related object","required":false,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ResultListCashier"}},"204":{"description":"Request successful, but the list is empty. Either there is in general no object on the list or a set filter/restriction in querystring doesn't match any object."},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]}},"/accounts/{koronaAccountId}/commodityGroups/{commodityGroupId}":{"get":{"tags":["commodity groups"],"summary":"returns the single commodity group","description":"","operationId":"getCommodityGroup","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"commodityGroupId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/CommodityGroup"}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]},"delete":{"tags":["commodity groups"],"summary":"deletes the single commodity group","description":"","operationId":"deleteCommodityGroup","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"commodityGroupId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"}],"responses":{"204":{"description":"Request successful, delete on single resource does not return any content"},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]},"patch":{"tags":["commodity groups"],"summary":"updates the single commodity group","description":"","operationId":"updateCommodityGroup","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"commodityGroupId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"},{"in":"body","name":"body","description":"the properties to update of the commodity group","required":true,"schema":{"$ref":"#/definitions/CommodityGroup"}}],"responses":{"204":{"description":"Request successful, patch on single resource does not return any content"},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]}},"/accounts/{koronaAccountId}/commodityGroups":{"get":{"tags":["commodity groups"],"summary":"lists all commodity groups","description":"","operationId":"getCommodityGroups","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"page","in":"query","description":"number of the page to fetch","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"amount of objects to return per page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"attribute to sort by (multiple separated by comma; max. 5)","required":false,"type":"string"},{"name":"revision","in":"query","description":"last revision number, objects with a greater revision than this will be returned","required":false,"type":"integer","format":"int64"},{"name":"includeDeleted","in":"query","description":"indicates deleted objects should be loaded or not (default: false)","required":false,"type":"boolean"},{"name":"number","in":"query","description":"number of the related object","required":false,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ResultListCommodityGroup"}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]},"post":{"tags":["commodity groups"],"summary":"adds a batch of new commodity groups","description":"","operationId":"addCommodityGroups","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"upsert","in":"query","description":"when set to true, updates the object instead of generating a already-exists-error","required":false,"type":"boolean"},{"in":"body","name":"body","description":"an array of new commodity groups","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/CommodityGroup"}}}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/AddOrUpdateResult"}}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]},"delete":{"tags":["commodity groups"],"summary":"deletes a batch of commodity groups","description":"","operationId":"deleteCommodityGroups","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"in":"body","name":"body","description":"array of existing commodity groups (id or number required)","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/CommodityGroup"}}}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/AddOrUpdateResult"}}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]},"patch":{"tags":["commodity groups"],"summary":"updates a batch of commodity groups","description":"","operationId":"updateCommodityGroups","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"in":"body","name":"body","description":"array of existing commodity groups (id or number required)","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/CommodityGroup"}}}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/AddOrUpdateResult"}}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]}},"/accounts/{koronaAccountId}/ticketCreation":{"get":{"tags":["ticket creation"],"summary":"creation tasks, personalization will always be empty for technical reasons","description":"","operationId":"getCreationTasks","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"creationTimeFrom","in":"query","description":"creation time from","required":false,"type":"string","format":"date-time"},{"name":"creationTimeTo","in":"query","description":"creation time to","required":false,"type":"string","format":"date-time"},{"name":"statuses","in":"query","description":"creation task statuses","required":false,"type":"array","items":{"type":"string","enum":["PREPARED","RUNNING","FINISHED","FAILED"]},"collectionFormat":"multi"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ResultListCreationTask"}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]},"post":{"tags":["ticket creation"],"summary":"adds a creation task","description":"","operationId":"addCreationTask","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"in":"body","name":"body","description":"a single ticket creation task","required":true,"schema":{"$ref":"#/definitions/CreationTask"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/AddOrUpdateResult"}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]}},"/accounts/{koronaAccountId}/currencies/{currencyId}":{"get":{"tags":["currencies"],"summary":"returns the single currency","description":"","operationId":"getCurrency","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"currencyId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Currency"}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]}},"/accounts/{koronaAccountId}/currencies":{"get":{"tags":["currencies"],"summary":"lists all currencies","description":"","operationId":"getCurrencies","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"page","in":"query","description":"number of the page to fetch","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"amount of objects to return per page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"attribute to sort by (multiple separated by comma; max. 5)","required":false,"type":"string"},{"name":"revision","in":"query","description":"last revision number, objects with a greater revision than this will be returned","required":false,"type":"integer","format":"int64"},{"name":"includeDeleted","in":"query","description":"indicates deleted objects should be loaded or not (default: false)","required":false,"type":"boolean"},{"name":"number","in":"query","description":"number of the related object","required":false,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ResultListCurrency"}},"204":{"description":"Request successful, but the list is empty. Either there is in general no object on the list or a set filter/restriction in querystring doesn't match any object."},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]}},"/accounts/{koronaAccountId}/customerGroups/{customerGroupId}":{"get":{"tags":["customer groups"],"summary":"returns the single customer group","description":"","operationId":"getCustomerGroup","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"customerGroupId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/CustomerGroup"}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]}},"/accounts/{koronaAccountId}/customerGroups":{"get":{"tags":["customer groups"],"summary":"lists all customer groups","description":"","operationId":"getCustomerGroups","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"page","in":"query","description":"number of the page to fetch","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"amount of objects to return per page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"attribute to sort by (multiple separated by comma; max. 5)","required":false,"type":"string"},{"name":"revision","in":"query","description":"last revision number, objects with a greater revision than this will be returned","required":false,"type":"integer","format":"int64"},{"name":"includeDeleted","in":"query","description":"indicates deleted objects should be loaded or not (default: false)","required":false,"type":"boolean"},{"name":"number","in":"query","description":"number of the related object","required":false,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ResultListCustomerGroup"}},"204":{"description":"Request successful, but the list is empty. Either there is in general no object on the list or a set filter/restriction in querystring doesn't match any object."},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]}},"/accounts/{koronaAccountId}/customerOrders/{customerOrderId}":{"get":{"tags":["customer orders"],"summary":"returns the single customer order","description":"","operationId":"getCustomerOrder","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"customerOrderId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/CustomerOrder"}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]},"delete":{"tags":["customer orders"],"summary":"deletes the single customer order","description":"","operationId":"deleteCustomerOrder","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"customerOrderId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"},{"name":"number","in":"query","description":"number of the related object","required":false,"type":"string"}],"responses":{"204":{"description":"Request successful, delete on single resource does not return any content"},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]},"patch":{"tags":["customer orders"],"summary":"updates the single customer order","description":"","operationId":"updateCustomerOrder","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"customerOrderId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"},{"in":"body","name":"body","description":"the properties to update of the customer order","required":true,"schema":{"$ref":"#/definitions/CustomerOrder"}}],"responses":{"204":{"description":"Request successful, patch on single resource does not return any content"},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]}},"/accounts/{koronaAccountId}/customerOrders":{"get":{"tags":["customer orders"],"summary":"lists all customer orders","description":"","operationId":"getCustomerOrders","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"page","in":"query","description":"number of the page to fetch","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"amount of objects to return per page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"attribute to sort by (multiple separated by comma; max. 5)","required":false,"type":"string"},{"name":"revision","in":"query","description":"last revision number, objects with a greater revision than this will be returned","required":false,"type":"integer","format":"int64"},{"name":"includeDeleted","in":"query","description":"indicates deleted objects should be loaded or not (default: false)","required":false,"type":"boolean"},{"name":"minCreateTime","in":"query","description":"min (inclusive) create time of the receipt (ISO 8601; Format: YYYY-MM-DDTHH:MM:SS; timezone optional)","required":false,"type":"string","format":"date-time"},{"name":"maxCreateTime","in":"query","description":"max (inclusive) create time of the receipt (ISO 8601; Format: YYYY-MM-DDTHH:MM:SS; timezone optional)","required":false,"type":"string","format":"date-time"},{"name":"minPickUpTime","in":"query","description":"min (inclusive) pick up time of the receipt (ISO 8601; Format: YYYY-MM-DDTHH:MM:SS; timezone optional)","required":false,"type":"string","format":"date-time"},{"name":"maxPickUpTime","in":"query","description":"max (inclusive) pick up time of the receipt (ISO 8601; Format: YYYY-MM-DDTHH:MM:SS; timezone optional)","required":false,"type":"string","format":"date-time"},{"name":"number","in":"query","description":"number of the related object","required":false,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ResultListCustomerOrder"}},"204":{"description":"Request successful, but the list is empty. Either there is in general no object on the list or a set filter/restriction in querystring doesn't match any object."},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]},"post":{"tags":["customer orders"],"summary":"adds a batch of new customer orders","description":"","operationId":"addCustomerOrders","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"in":"body","name":"body","description":"array of new customer orders","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/CustomerOrder"}}}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/AddOrUpdateResult"}}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]},"patch":{"tags":["customer orders"],"summary":"updates a batch of customer orders","description":"[number] must be set in the objects, otherwise the object cannot be updated","operationId":"updateCustomerOrders","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"in":"body","name":"body","description":"an array of existing customer orders","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/CustomerOrder"}}}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/AddOrUpdateResult"}}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]}},"/accounts/{koronaAccountId}/customers/{customerId}":{"get":{"tags":["customers"],"summary":"returns the single customer","description":"","operationId":"getCustomer","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"customerId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Customer"}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]},"delete":{"tags":["customers"],"summary":"deletes the single customer","description":"","operationId":"deleteCustomer","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"customerId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"}],"responses":{"204":{"description":"Request successful, delete on single resource does not return any content"},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]},"patch":{"tags":["customers"],"summary":"updates the single customer","description":"","operationId":"updateCustomer","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"customerId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"},{"in":"body","name":"body","description":"the properties to update of the customer","required":true,"schema":{"$ref":"#/definitions/Customer"}}],"responses":{"204":{"description":"Request successful, patch on single resource does not return any content"},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]}},"/accounts/{koronaAccountId}/customers":{"get":{"tags":["customers"],"summary":"lists all customers","description":"","operationId":"getCustomers","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"page","in":"query","description":"number of the page to fetch","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"amount of objects to return per page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"attribute to sort by (multiple separated by comma; max. 5)","required":false,"type":"string"},{"name":"revision","in":"query","description":"last revision number, objects with a greater revision than this will be returned","required":false,"type":"integer","format":"int64"},{"name":"includeDeleted","in":"query","description":"indicates deleted objects should be loaded or not (default: false)","required":false,"type":"boolean"},{"name":"number","in":"query","description":"number of the related object","required":false,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ResultListCustomer"}},"204":{"description":"Request successful, but the list is empty. Either there is in general no object on the list or a set filter/restriction in querystring doesn't match any object."},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]},"post":{"tags":["customers"],"summary":"adds a batch of new customers","description":"","operationId":"addCustomers","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"upsert","in":"query","description":"when set to true, updates the object instead of generating a already-exists-error","required":false,"type":"boolean"},{"in":"body","name":"body","description":"array of new customers","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/Customer"}}}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/AddOrUpdateResult"}}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]},"delete":{"tags":["customers"],"summary":"deletes a batch of customers","description":"","operationId":"deleteCustomers","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"in":"body","name":"body","description":"array of existing customers (id or number required)","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/Customer"}}}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/AddOrUpdateResult"}}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]},"patch":{"tags":["customers"],"summary":"updates a batch of customers","description":"","operationId":"updateCustomers","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"in":"body","name":"body","description":"array of existing customers (id or number required)","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/Customer"}}}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/AddOrUpdateResult"}}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]}},"/accounts/{koronaAccountId}/deliveryNotes/{deliveryNoteId}":{"get":{"tags":["delivery notes"],"summary":"returns a single delivery note","description":"","operationId":"getDeliveryNote","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"deliveryNoteId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DeliveryNote"}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]}},"/accounts/{koronaAccountId}/deliveryNotes/{deliveryNoteId}/finalize":{"patch":{"tags":["delivery notes"],"summary":"finalize the single delivery note","description":"","operationId":"finalizeDeliveryNote","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"deliveryNoteId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"}],"responses":{"204":{"description":"Request successful, patch on single resource does not return any content"},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]}},"/accounts/{koronaAccountId}/deliveryNotes":{"get":{"tags":["delivery notes"],"summary":"lists all delivery notes","description":"","operationId":"getDeliveryNotes","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"page","in":"query","description":"number of the page to fetch","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"amount of objects to return per page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"attribute to sort by (multiple separated by comma; max. 5)","required":false,"type":"string"},{"name":"revision","in":"query","description":"last revision number, objects with a greater revision than this will be returned","required":false,"type":"integer","format":"int64"},{"name":"includeDeleted","in":"query","description":"indicates deleted objects should be loaded or not (default: false)","required":false,"type":"boolean"},{"name":"minDeliveryTime","in":"query","description":"min (inclusive) delivery time of the receipt (ISO 8601; Format: YYYY-MM-DDTHH:MM:SS; timezone optional)","required":false,"type":"string","format":"date-time"},{"name":"maxDeliveryTime","in":"query","description":"max (inclusive) delivery time of the receipt (ISO 8601; Format: YYYY-MM-DDTHH:MM:SS; timezone optional)","required":false,"type":"string","format":"date-time"},{"name":"minBookingTime","in":"query","description":"min (inclusive) booking time of the receipt (ISO 8601; Format: YYYY-MM-DDTHH:MM:SS; timezone optional)","required":false,"type":"string","format":"date-time"},{"name":"maxBookingTime","in":"query","description":"max (inclusive) booking time of the receipt (ISO 8601; Format: YYYY-MM-DDTHH:MM:SS; timezone optional)","required":false,"type":"string","format":"date-time"},{"name":"pointOfSale","in":"query","description":"point of sale","required":false,"type":"string"},{"name":"organizationalUnit","in":"query","description":"organizational unit","required":false,"type":"string"},{"name":"customer","in":"query","description":"customer id to filter by","required":false,"type":"string"},{"name":"number","in":"query","description":"number of the related object","required":false,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ResultListDeliveryNote"}},"204":{"description":"Request successful, but the list is empty. Either there is in general no object on the list or a set filter/restriction in querystring doesn't match any object."},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]},"post":{"tags":["delivery notes"],"summary":"adds delivery notes","description":"","operationId":"addDeliveryNotes","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"in":"body","name":"body","description":"data to add","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/DeliveryNote"}}}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/AddOrUpdateResult"}}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]}},"/accounts/{koronaAccountId}/deliveryNotes/{deliveryNoteId}/book":{"patch":{"tags":["delivery notes"],"summary":"book the single delivery note","description":"","operationId":"bookDeliveryNote","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"deliveryNoteId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"}],"responses":{"204":{"description":"Request successful, patch on single resource does not return any content"},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]}},"/accounts/{koronaAccountId}/economicZones/{economicZoneId}":{"get":{"tags":["economic zones"],"summary":"returns the single economic zone","description":"","operationId":"getEconomicZone","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"economicZoneId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/EconomicZone"}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]}},"/accounts/{koronaAccountId}/economicZones":{"get":{"tags":["economic zones"],"summary":"lists all economic zones","description":"","operationId":"getEconomicZones","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"page","in":"query","description":"number of the page to fetch","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"amount of objects to return per page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"attribute to sort by (multiple separated by comma; max. 5)","required":false,"type":"string"},{"name":"revision","in":"query","description":"last revision number, objects with a greater revision than this will be returned","required":false,"type":"integer","format":"int64"},{"name":"includeDeleted","in":"query","description":"indicates deleted objects should be loaded or not (default: false)","required":false,"type":"boolean"},{"name":"number","in":"query","description":"number of the related object","required":false,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ResultListEconomicZone"}},"204":{"description":"Request successful, but the list is empty. Either there is in general no object on the list or a set filter/restriction in querystring doesn't match any object."},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]}},"/accounts/{koronaAccountId}/entryGates":{"get":{"tags":["ticketing"],"summary":"lists all entry gates","description":"","operationId":"getEntryGates","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"page","in":"query","description":"number of the page to fetch","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"amount of objects to return per page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"attribute to sort by (multiple separated by comma; max. 5)","required":false,"type":"string"},{"name":"revision","in":"query","description":"last revision number, objects with a greater revision than this will be returned","required":false,"type":"integer","format":"int64"},{"name":"includeDeleted","in":"query","description":"indicates deleted objects should be loaded or not (default: false)","required":false,"type":"boolean"},{"name":"number","in":"query","description":"number of the related object","required":false,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ResultListEntryGate"}},"204":{"description":"Request successful, but the list is empty. Either there is in general no object on the list or a set filter/restriction in querystring doesn't match any object."},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]}},"/accounts/{koronaAccountId}/entryGates/{entryGateId}":{"get":{"tags":["ticketing"],"summary":"returns the single entry gate","description":"","operationId":"getEntryGate","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"entryGateId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/EntryGate"}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]}},"/accounts/{koronaAccountId}/events/{eventId}":{"get":{"tags":["ticketing"],"summary":"returns the single event","description":"","operationId":"getEvent","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"eventId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Event"}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]},"delete":{"tags":["ticketing"],"summary":"deletes the single event","description":"","operationId":"deleteEvent","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"eventId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"}],"responses":{"204":{"description":"Request successful, delete on single resource does not return any content"},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]},"patch":{"tags":["ticketing"],"summary":"updates the single event","description":"","operationId":"updateEvent","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"eventId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"},{"in":"body","name":"body","description":"the properties to update of the event","required":true,"schema":{"$ref":"#/definitions/Event"}}],"responses":{"204":{"description":"Request successful, patch on single resource does not return any content"},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]}},"/accounts/{koronaAccountId}/events":{"get":{"tags":["ticketing"],"summary":"lists all events","description":"","operationId":"getEvents","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"page","in":"query","description":"number of the page to fetch","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"amount of objects to return per page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"attribute to sort by (multiple separated by comma; max. 5)","required":false,"type":"string"},{"name":"revision","in":"query","description":"last revision number, objects with a greater revision than this will be returned","required":false,"type":"integer","format":"int64"},{"name":"includeDeleted","in":"query","description":"indicates deleted objects should be loaded or not (default: false)","required":false,"type":"boolean"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ResultListEvent"}},"204":{"description":"Request successful, but the list is empty. Either there is in general no object on the list or a set filter/restriction in querystring doesn't match any object."},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]},"post":{"tags":["ticketing"],"summary":"adds a batch of new events","description":"","operationId":"addEvents","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"upsert","in":"query","description":"when set to true, updates the object instead of generating a already-exists-error","required":false,"type":"boolean"},{"in":"body","name":"body","description":"an array of new events","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/Event"}}}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/AddOrUpdateResult"}}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]},"patch":{"tags":["ticketing"],"summary":"updates a batch of events","description":"[number] must be set in the objects, otherwise the object cannot be updated","operationId":"updateEvents","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"in":"body","name":"body","description":"an array of existing events","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/Event"}}}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/AddOrUpdateResult"}}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]}},"/accounts/{koronaAccountId}/externalSystemCalls/{externalSystemCallId}":{"get":{"tags":["external system calls"],"summary":"returns a single external system call","description":"","operationId":"getExternalSystemCall","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"externalSystemCallId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ExternalSystemCall"}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]},"delete":{"tags":["external system calls"],"summary":"deletes a single external system call","description":"","operationId":"deleteExternalSystemCall","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"externalSystemCallId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"}],"responses":{"204":{"description":"Request successful, delete on single resource does not return any content"},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]},"patch":{"tags":["external system calls"],"summary":"updates the single external system call","description":"","operationId":"updateExternalSystemCall","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"externalSystemCallId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"},{"in":"body","name":"body","description":"the properties to update of the external system call","required":true,"schema":{"$ref":"#/definitions/ExternalSystemCall"}}],"responses":{"204":{"description":"Request successful, patch on single resource does not return any content"},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]}},"/accounts/{koronaAccountId}/externalSystemCalls":{"get":{"tags":["external system calls"],"summary":"lists all external system calls","description":"","operationId":"getExternalSystemCalls","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"page","in":"query","description":"number of the page to fetch","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"amount of objects to return per page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"attribute to sort by (multiple separated by comma; max. 5)","required":false,"type":"string"},{"name":"revision","in":"query","description":"last revision number, objects with a greater revision than this will be returned","required":false,"type":"integer","format":"int64"},{"name":"includeDeleted","in":"query","description":"indicates deleted objects should be loaded or not (default: false)","required":false,"type":"boolean"},{"name":"number","in":"query","description":"number of the related object","required":false,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ResultListExternalSystemCall"}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]},"post":{"tags":["external system calls"],"summary":"adds a batch of new external system calls","description":"","operationId":"addExternalSystemCalls","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"upsert","in":"query","description":"when set to true, updates the object instead of generating a already-exists-error","required":false,"type":"boolean"},{"in":"body","name":"body","description":"array of new external system calls","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ExternalSystemCall"}}}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/AddOrUpdateResult"}}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]},"delete":{"tags":["external system calls"],"summary":"deletes a batch of external system calls","description":"","operationId":"deleteExternalSystemCalls","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"in":"body","name":"body","description":"array of existing external system calls (id or number required)","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ExternalSystemCall"}}}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/AddOrUpdateResult"}}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]},"patch":{"tags":["external system calls"],"summary":"updates a batch of external system calls","description":"","operationId":"updateExternalSystemCalls","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"in":"body","name":"body","description":"array of existing external system calls (id or number required)","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ExternalSystemCall"}}}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/AddOrUpdateResult"}}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]}},"/accounts/{koronaAccountId}/images/{imageId}":{"get":{"tags":["images"],"summary":"displays the image","description":"","operationId":"getImage","produces":["image/png","image/jpg"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"imageId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"string","format":"byte"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]}},"/accounts/{koronaAccountId}/infoTexts":{"get":{"tags":["info texts"],"summary":"lists all info texts","description":"","operationId":"getInfoTexts","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"page","in":"query","description":"number of the page to fetch","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"amount of objects to return per page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"attribute to sort by (multiple separated by comma; max. 5)","required":false,"type":"string"},{"name":"revision","in":"query","description":"last revision number, objects with a greater revision than this will be returned","required":false,"type":"integer","format":"int64"},{"name":"includeDeleted","in":"query","description":"indicates deleted objects should be loaded or not (default: false)","required":false,"type":"boolean"},{"name":"number","in":"query","description":"number of the related object","required":false,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ResultListInfoText"}},"204":{"description":"Request successful, but the list is empty. Either there is in general no object on the list or a set filter/restriction in querystring doesn't match any object."},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]}},"/accounts/{koronaAccountId}/infoTexts/{infoTextId}":{"get":{"tags":["info texts"],"summary":"returns the single info text","description":"","operationId":"getInfoText","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"infoTextId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/InfoText"}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]}},"/accounts/{koronaAccountId}/inventories":{"get":{"tags":["inventories"],"summary":"lists all inventories","description":"","operationId":"getInventories","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"page","in":"query","description":"number of the page to fetch","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"amount of objects to return per page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"attribute to sort by (multiple separated by comma; max. 5)","required":false,"type":"string"},{"name":"revision","in":"query","description":"last revision number, objects with a greater revision than this will be returned","required":false,"type":"integer","format":"int64"},{"name":"includeDeleted","in":"query","description":"indicates deleted objects should be loaded or not (default: false)","required":false,"type":"boolean"},{"name":"number","in":"query","description":"number of the related object","required":false,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ResultListInventory"}},"204":{"description":"Request successful, but the list is empty. Either there is in general no object on the list or a set filter/restriction in querystring doesn't match any object."},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"405":{"description":"Method not allowed","schema":{"$ref":"#/definitions/MethodNotAllowedError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]},"post":{"tags":["inventories"],"summary":"adds a batch of new inventories","description":"","operationId":"addInventories","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"in":"body","name":"body","description":"an array of new inventories","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/Inventory"}}}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/AddOrUpdateResult"}}},"400":{"description":"Malformed querystring or model","schema":{"$ref":"#/definitions/BadRequestError"}},"401":{"description":"Missing or invalid http-authentication"},"403":{"description":"Requested action is not allowed","schema":{"$ref":"#/definitions/ForbiddenError"}},"404":{"description":"Object not found","schema":{"$ref":"#/definitions/NotFoundError"}},"405":{"description":"Method not allowed","schema":{"$ref":"#/definitions/MethodNotAllowedError"}},"429":{"description":"Too many requests in a specified period","schema":{"$ref":"#/definitions/TooManyRequestsError"}}},"security":[{"basicAuth":[]}]}},"/accounts/{koronaAccountId}/inventories/{inventoryId}/inventoryLists/{inventoryListId}/items":{"get":{"tags":["inventories"],"summary":"lists all inventory list items","description":"","operationId":"getInventoryInventoryListItems","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"koronaAccountId","in":"path","description":"account id of the KORONA.cloud account","required":true,"type":"string"},{"name":"inventoryId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"},{"name":"inventoryListId","in":"path","description":"id of the related object (important: id should match the uuid-format)","required":true,"type":"string"},{"name":"page","in":"query","description":"number of the page to fetch","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"amount of objects to return per page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"attribute to sort by (multiple separated by com
[...]
