=begin
#KORONA.cloud API v3

#Our api provides access to our cloud services

OpenAPI spec version: 3
Contact: support@combase.net
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.3.1

=end

require "uri"

module KoronaClient
  class KoronaAccountApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # lists the korona account
    # 
    # @param korona_account_id the account id
    # @param [Hash] opts the optional parameters
    # @return [KoronaAccount]
    def get_korona_account(korona_account_id, opts = {})
      data, _status_code, _headers = get_korona_account_with_http_info(korona_account_id, opts)
      return data
    end

    # lists the korona account
    # 
    # @param korona_account_id the account id
    # @param [Hash] opts the optional parameters
    # @return [Array<(KoronaAccount, Fixnum, Hash)>] KoronaAccount data, response status code and response headers
    def get_korona_account_with_http_info(korona_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: KoronaAccountApi.get_korona_account ..."
      end
      # verify the required parameter 'korona_account_id' is set
      if @api_client.config.client_side_validation && korona_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'korona_account_id' when calling KoronaAccountApi.get_korona_account"
      end
      # resource path
      local_var_path = "/accounts/{koronaAccountId}".sub('{' + 'koronaAccountId' + '}', korona_account_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['basicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'KoronaAccount')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KoronaAccountApi#get_korona_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
