=begin
#KORONA.cloud API v3

#Our api provides access to our cloud services

The version of the OpenAPI document: 3.1.64
Contact: support@combase.net
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.0.1

=end

require 'cgi'

module KoronaCloudClient
  class DispatchNotificationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # adds dispatch notification items
    # @param korona_account_id [String] account id of the KORONA.cloud account
    # @param dispatch_notification_id [String] id of the related object (important: id should match the uuid-format)
    # @param dispatch_notification_item [Array<DispatchNotificationItem>] array of new dispatch notification items
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :upsert when set to true, updates the object instead of generating a already-exists-error; deprecated, use writeMode ADD_OR_UPDATE instead
    # @option opts [Boolean] :assign_existing_product try to assign an existing product using codes set in import item data
    # @option opts [String] :write_mode DEFAULT &#x3D; insert; ADD_OR_UPDATE &#x3D; insert or update, overwrite all non-null fields; ADD_OR_REPLACE &#x3D; insert or update, overwrite all fields
    # @return [Array<AddOrUpdateResult>]
    def add_dispatch_notification_items(korona_account_id, dispatch_notification_id, dispatch_notification_item, opts = {})
      data, _status_code, _headers = add_dispatch_notification_items_with_http_info(korona_account_id, dispatch_notification_id, dispatch_notification_item, opts)
      data
    end

    # adds dispatch notification items
    # @param korona_account_id [String] account id of the KORONA.cloud account
    # @param dispatch_notification_id [String] id of the related object (important: id should match the uuid-format)
    # @param dispatch_notification_item [Array<DispatchNotificationItem>] array of new dispatch notification items
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :upsert when set to true, updates the object instead of generating a already-exists-error; deprecated, use writeMode ADD_OR_UPDATE instead
    # @option opts [Boolean] :assign_existing_product try to assign an existing product using codes set in import item data
    # @option opts [String] :write_mode DEFAULT &#x3D; insert; ADD_OR_UPDATE &#x3D; insert or update, overwrite all non-null fields; ADD_OR_REPLACE &#x3D; insert or update, overwrite all fields
    # @return [Array<(Array<AddOrUpdateResult>, Integer, Hash)>] Array<AddOrUpdateResult> data, response status code and response headers
    def add_dispatch_notification_items_with_http_info(korona_account_id, dispatch_notification_id, dispatch_notification_item, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DispatchNotificationsApi.add_dispatch_notification_items ...'
      end
      # verify the required parameter 'korona_account_id' is set
      if @api_client.config.client_side_validation && korona_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'korona_account_id' when calling DispatchNotificationsApi.add_dispatch_notification_items"
      end
      # verify the required parameter 'dispatch_notification_id' is set
      if @api_client.config.client_side_validation && dispatch_notification_id.nil?
        fail ArgumentError, "Missing the required parameter 'dispatch_notification_id' when calling DispatchNotificationsApi.add_dispatch_notification_items"
      end
      # verify the required parameter 'dispatch_notification_item' is set
      if @api_client.config.client_side_validation && dispatch_notification_item.nil?
        fail ArgumentError, "Missing the required parameter 'dispatch_notification_item' when calling DispatchNotificationsApi.add_dispatch_notification_items"
      end
      allowable_values = ["DEFAULT", "ADD_OR_UPDATE", "ADD_OR_REPLACE"]
      if @api_client.config.client_side_validation && opts[:'write_mode'] && !allowable_values.include?(opts[:'write_mode'])
        fail ArgumentError, "invalid value for \"write_mode\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/accounts/{koronaAccountId}/dispatchNotifications/{dispatchNotificationId}/items'.sub('{' + 'koronaAccountId' + '}', CGI.escape(korona_account_id.to_s)).sub('{' + 'dispatchNotificationId' + '}', CGI.escape(dispatch_notification_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'upsert'] = opts[:'upsert'] if !opts[:'upsert'].nil?
      query_params[:'assignExistingProduct'] = opts[:'assign_existing_product'] if !opts[:'assign_existing_product'].nil?
      query_params[:'writeMode'] = opts[:'write_mode'] if !opts[:'write_mode'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(dispatch_notification_item)

      # return_type
      return_type = opts[:debug_return_type] || 'Array<AddOrUpdateResult>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"DispatchNotificationsApi.add_dispatch_notification_items",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DispatchNotificationsApi#add_dispatch_notification_items\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # adds dispatch notifications
    # @param korona_account_id [String] account id of the KORONA.cloud account
    # @param dispatch_notification [Array<DispatchNotification>] array of new dispatch notifications
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :upsert when set to true, updates the object instead of generating a already-exists-error; deprecated, use writeMode ADD_OR_UPDATE instead
    # @option opts [String] :write_mode DEFAULT &#x3D; insert; ADD_OR_UPDATE &#x3D; insert or update, overwrite all non-null fields; ADD_OR_REPLACE &#x3D; insert or update, overwrite all fields
    # @return [Array<AddOrUpdateResult>]
    def add_dispatch_notifications(korona_account_id, dispatch_notification, opts = {})
      data, _status_code, _headers = add_dispatch_notifications_with_http_info(korona_account_id, dispatch_notification, opts)
      data
    end

    # adds dispatch notifications
    # @param korona_account_id [String] account id of the KORONA.cloud account
    # @param dispatch_notification [Array<DispatchNotification>] array of new dispatch notifications
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :upsert when set to true, updates the object instead of generating a already-exists-error; deprecated, use writeMode ADD_OR_UPDATE instead
    # @option opts [String] :write_mode DEFAULT &#x3D; insert; ADD_OR_UPDATE &#x3D; insert or update, overwrite all non-null fields; ADD_OR_REPLACE &#x3D; insert or update, overwrite all fields
    # @return [Array<(Array<AddOrUpdateResult>, Integer, Hash)>] Array<AddOrUpdateResult> data, response status code and response headers
    def add_dispatch_notifications_with_http_info(korona_account_id, dispatch_notification, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DispatchNotificationsApi.add_dispatch_notifications ...'
      end
      # verify the required parameter 'korona_account_id' is set
      if @api_client.config.client_side_validation && korona_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'korona_account_id' when calling DispatchNotificationsApi.add_dispatch_notifications"
      end
      # verify the required parameter 'dispatch_notification' is set
      if @api_client.config.client_side_validation && dispatch_notification.nil?
        fail ArgumentError, "Missing the required parameter 'dispatch_notification' when calling DispatchNotificationsApi.add_dispatch_notifications"
      end
      allowable_values = ["DEFAULT", "ADD_OR_UPDATE", "ADD_OR_REPLACE"]
      if @api_client.config.client_side_validation && opts[:'write_mode'] && !allowable_values.include?(opts[:'write_mode'])
        fail ArgumentError, "invalid value for \"write_mode\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/accounts/{koronaAccountId}/dispatchNotifications'.sub('{' + 'koronaAccountId' + '}', CGI.escape(korona_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'upsert'] = opts[:'upsert'] if !opts[:'upsert'].nil?
      query_params[:'writeMode'] = opts[:'write_mode'] if !opts[:'write_mode'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(dispatch_notification)

      # return_type
      return_type = opts[:debug_return_type] || 'Array<AddOrUpdateResult>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"DispatchNotificationsApi.add_dispatch_notifications",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DispatchNotificationsApi#add_dispatch_notifications\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # books the single dispatch notification
    # @param korona_account_id [String] account id of the KORONA.cloud account
    # @param dispatch_notification_id [String] id of the related object (important: id should match the uuid-format)
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def book_dispatch_notification(korona_account_id, dispatch_notification_id, opts = {})
      book_dispatch_notification_with_http_info(korona_account_id, dispatch_notification_id, opts)
      nil
    end

    # books the single dispatch notification
    # @param korona_account_id [String] account id of the KORONA.cloud account
    # @param dispatch_notification_id [String] id of the related object (important: id should match the uuid-format)
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def book_dispatch_notification_with_http_info(korona_account_id, dispatch_notification_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DispatchNotificationsApi.book_dispatch_notification ...'
      end
      # verify the required parameter 'korona_account_id' is set
      if @api_client.config.client_side_validation && korona_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'korona_account_id' when calling DispatchNotificationsApi.book_dispatch_notification"
      end
      # verify the required parameter 'dispatch_notification_id' is set
      if @api_client.config.client_side_validation && dispatch_notification_id.nil?
        fail ArgumentError, "Missing the required parameter 'dispatch_notification_id' when calling DispatchNotificationsApi.book_dispatch_notification"
      end
      # resource path
      local_var_path = '/accounts/{koronaAccountId}/dispatchNotifications/{dispatchNotificationId}/book'.sub('{' + 'koronaAccountId' + '}', CGI.escape(korona_account_id.to_s)).sub('{' + 'dispatchNotificationId' + '}', CGI.escape(dispatch_notification_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"DispatchNotificationsApi.book_dispatch_notification",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DispatchNotificationsApi#book_dispatch_notification\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # deletes the single dispatch notification
    # @param korona_account_id [String] account id of the KORONA.cloud account
    # @param dispatch_notification_id [String] id of the related object (important: id should match the uuid-format)
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_dispatch_notification(korona_account_id, dispatch_notification_id, opts = {})
      delete_dispatch_notification_with_http_info(korona_account_id, dispatch_notification_id, opts)
      nil
    end

    # deletes the single dispatch notification
    # @param korona_account_id [String] account id of the KORONA.cloud account
    # @param dispatch_notification_id [String] id of the related object (important: id should match the uuid-format)
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_dispatch_notification_with_http_info(korona_account_id, dispatch_notification_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DispatchNotificationsApi.delete_dispatch_notification ...'
      end
      # verify the required parameter 'korona_account_id' is set
      if @api_client.config.client_side_validation && korona_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'korona_account_id' when calling DispatchNotificationsApi.delete_dispatch_notification"
      end
      # verify the required parameter 'dispatch_notification_id' is set
      if @api_client.config.client_side_validation && dispatch_notification_id.nil?
        fail ArgumentError, "Missing the required parameter 'dispatch_notification_id' when calling DispatchNotificationsApi.delete_dispatch_notification"
      end
      # resource path
      local_var_path = '/accounts/{koronaAccountId}/dispatchNotifications/{dispatchNotificationId}'.sub('{' + 'koronaAccountId' + '}', CGI.escape(korona_account_id.to_s)).sub('{' + 'dispatchNotificationId' + '}', CGI.escape(dispatch_notification_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"DispatchNotificationsApi.delete_dispatch_notification",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DispatchNotificationsApi#delete_dispatch_notification\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # deletes the single dispatch notification item
    # @param korona_account_id [String] account id of the KORONA.cloud account
    # @param dispatch_notification_id [String] id of the related object (important: id should match the uuid-format)
    # @param dispatch_notification_item_id [String] id of the related object (important: id should match the uuid-format)
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_dispatch_notification_item(korona_account_id, dispatch_notification_id, dispatch_notification_item_id, opts = {})
      delete_dispatch_notification_item_with_http_info(korona_account_id, dispatch_notification_id, dispatch_notification_item_id, opts)
      nil
    end

    # deletes the single dispatch notification item
    # @param korona_account_id [String] account id of the KORONA.cloud account
    # @param dispatch_notification_id [String] id of the related object (important: id should match the uuid-format)
    # @param dispatch_notification_item_id [String] id of the related object (important: id should match the uuid-format)
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_dispatch_notification_item_with_http_info(korona_account_id, dispatch_notification_id, dispatch_notification_item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DispatchNotificationsApi.delete_dispatch_notification_item ...'
      end
      # verify the required parameter 'korona_account_id' is set
      if @api_client.config.client_side_validation && korona_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'korona_account_id' when calling DispatchNotificationsApi.delete_dispatch_notification_item"
      end
      # verify the required parameter 'dispatch_notification_id' is set
      if @api_client.config.client_side_validation && dispatch_notification_id.nil?
        fail ArgumentError, "Missing the required parameter 'dispatch_notification_id' when calling DispatchNotificationsApi.delete_dispatch_notification_item"
      end
      # verify the required parameter 'dispatch_notification_item_id' is set
      if @api_client.config.client_side_validation && dispatch_notification_item_id.nil?
        fail ArgumentError, "Missing the required parameter 'dispatch_notification_item_id' when calling DispatchNotificationsApi.delete_dispatch_notification_item"
      end
      # resource path
      local_var_path = '/accounts/{koronaAccountId}/dispatchNotifications/{dispatchNotificationId}/items/{dispatchNotificationItemId}'.sub('{' + 'koronaAccountId' + '}', CGI.escape(korona_account_id.to_s)).sub('{' + 'dispatchNotificationId' + '}', CGI.escape(dispatch_notification_id.to_s)).sub('{' + 'dispatchNotificationItemId' + '}', CGI.escape(dispatch_notification_item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"DispatchNotificationsApi.delete_dispatch_notification_item",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DispatchNotificationsApi#delete_dispatch_notification_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # returns the single dispatch notification
    # @param korona_account_id [String] account id of the KORONA.cloud account
    # @param dispatch_notification_id [String] id of the related object (important: id should match the uuid-format)
    # @param [Hash] opts the optional parameters
    # @return [DispatchNotification]
    def get_dispatch_notification(korona_account_id, dispatch_notification_id, opts = {})
      data, _status_code, _headers = get_dispatch_notification_with_http_info(korona_account_id, dispatch_notification_id, opts)
      data
    end

    # returns the single dispatch notification
    # @param korona_account_id [String] account id of the KORONA.cloud account
    # @param dispatch_notification_id [String] id of the related object (important: id should match the uuid-format)
    # @param [Hash] opts the optional parameters
    # @return [Array<(DispatchNotification, Integer, Hash)>] DispatchNotification data, response status code and response headers
    def get_dispatch_notification_with_http_info(korona_account_id, dispatch_notification_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DispatchNotificationsApi.get_dispatch_notification ...'
      end
      # verify the required parameter 'korona_account_id' is set
      if @api_client.config.client_side_validation && korona_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'korona_account_id' when calling DispatchNotificationsApi.get_dispatch_notification"
      end
      # verify the required parameter 'dispatch_notification_id' is set
      if @api_client.config.client_side_validation && dispatch_notification_id.nil?
        fail ArgumentError, "Missing the required parameter 'dispatch_notification_id' when calling DispatchNotificationsApi.get_dispatch_notification"
      end
      # resource path
      local_var_path = '/accounts/{koronaAccountId}/dispatchNotifications/{dispatchNotificationId}'.sub('{' + 'koronaAccountId' + '}', CGI.escape(korona_account_id.to_s)).sub('{' + 'dispatchNotificationId' + '}', CGI.escape(dispatch_notification_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DispatchNotification'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"DispatchNotificationsApi.get_dispatch_notification",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DispatchNotificationsApi#get_dispatch_notification\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # returns the single dispatch notification item
    # @param korona_account_id [String] account id of the KORONA.cloud account
    # @param dispatch_notification_id [String] id of the related object (important: id should match the uuid-format)
    # @param dispatch_notification_item_id [String] id of the related object (important: id should match the uuid-format)
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :show_import_data when set to true, import data will included in response
    # @return [DispatchNotificationItem]
    def get_dispatch_notification_item(korona_account_id, dispatch_notification_id, dispatch_notification_item_id, opts = {})
      data, _status_code, _headers = get_dispatch_notification_item_with_http_info(korona_account_id, dispatch_notification_id, dispatch_notification_item_id, opts)
      data
    end

    # returns the single dispatch notification item
    # @param korona_account_id [String] account id of the KORONA.cloud account
    # @param dispatch_notification_id [String] id of the related object (important: id should match the uuid-format)
    # @param dispatch_notification_item_id [String] id of the related object (important: id should match the uuid-format)
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :show_import_data when set to true, import data will included in response
    # @return [Array<(DispatchNotificationItem, Integer, Hash)>] DispatchNotificationItem data, response status code and response headers
    def get_dispatch_notification_item_with_http_info(korona_account_id, dispatch_notification_id, dispatch_notification_item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DispatchNotificationsApi.get_dispatch_notification_item ...'
      end
      # verify the required parameter 'korona_account_id' is set
      if @api_client.config.client_side_validation && korona_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'korona_account_id' when calling DispatchNotificationsApi.get_dispatch_notification_item"
      end
      # verify the required parameter 'dispatch_notification_id' is set
      if @api_client.config.client_side_validation && dispatch_notification_id.nil?
        fail ArgumentError, "Missing the required parameter 'dispatch_notification_id' when calling DispatchNotificationsApi.get_dispatch_notification_item"
      end
      # verify the required parameter 'dispatch_notification_item_id' is set
      if @api_client.config.client_side_validation && dispatch_notification_item_id.nil?
        fail ArgumentError, "Missing the required parameter 'dispatch_notification_item_id' when calling DispatchNotificationsApi.get_dispatch_notification_item"
      end
      # resource path
      local_var_path = '/accounts/{koronaAccountId}/dispatchNotifications/{dispatchNotificationId}/items/{dispatchNotificationItemId}'.sub('{' + 'koronaAccountId' + '}', CGI.escape(korona_account_id.to_s)).sub('{' + 'dispatchNotificationId' + '}', CGI.escape(dispatch_notification_id.to_s)).sub('{' + 'dispatchNotificationItemId' + '}', CGI.escape(dispatch_notification_item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'showImportData'] = opts[:'show_import_data'] if !opts[:'show_import_data'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DispatchNotificationItem'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"DispatchNotificationsApi.get_dispatch_notification_item",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DispatchNotificationsApi#get_dispatch_notification_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # lists all dispatch notification items
    # @param korona_account_id [String] account id of the KORONA.cloud account
    # @param dispatch_notification_id [String] id of the related object (important: id should match the uuid-format)
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page number of the page to fetch
    # @option opts [Integer] :size amount of objects to return per page
    # @option opts [String] :sort attribute to sort by (multiple separated by comma; max. 5)
    # @option opts [Integer] :revision last revision number, objects with a greater revision than this will be returned
    # @option opts [Boolean] :show_import_data when set to true, import data will included in response
    # @return [ResultListDispatchNotificationItem]
    def get_dispatch_notification_items(korona_account_id, dispatch_notification_id, opts = {})
      data, _status_code, _headers = get_dispatch_notification_items_with_http_info(korona_account_id, dispatch_notification_id, opts)
      data
    end

    # lists all dispatch notification items
    # @param korona_account_id [String] account id of the KORONA.cloud account
    # @param dispatch_notification_id [String] id of the related object (important: id should match the uuid-format)
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page number of the page to fetch
    # @option opts [Integer] :size amount of objects to return per page
    # @option opts [String] :sort attribute to sort by (multiple separated by comma; max. 5)
    # @option opts [Integer] :revision last revision number, objects with a greater revision than this will be returned
    # @option opts [Boolean] :show_import_data when set to true, import data will included in response
    # @return [Array<(ResultListDispatchNotificationItem, Integer, Hash)>] ResultListDispatchNotificationItem data, response status code and response headers
    def get_dispatch_notification_items_with_http_info(korona_account_id, dispatch_notification_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DispatchNotificationsApi.get_dispatch_notification_items ...'
      end
      # verify the required parameter 'korona_account_id' is set
      if @api_client.config.client_side_validation && korona_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'korona_account_id' when calling DispatchNotificationsApi.get_dispatch_notification_items"
      end
      # verify the required parameter 'dispatch_notification_id' is set
      if @api_client.config.client_side_validation && dispatch_notification_id.nil?
        fail ArgumentError, "Missing the required parameter 'dispatch_notification_id' when calling DispatchNotificationsApi.get_dispatch_notification_items"
      end
      # resource path
      local_var_path = '/accounts/{koronaAccountId}/dispatchNotifications/{dispatchNotificationId}/items'.sub('{' + 'koronaAccountId' + '}', CGI.escape(korona_account_id.to_s)).sub('{' + 'dispatchNotificationId' + '}', CGI.escape(dispatch_notification_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'revision'] = opts[:'revision'] if !opts[:'revision'].nil?
      query_params[:'showImportData'] = opts[:'show_import_data'] if !opts[:'show_import_data'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResultListDispatchNotificationItem'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"DispatchNotificationsApi.get_dispatch_notification_items",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DispatchNotificationsApi#get_dispatch_notification_items\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # lists all dispatch notifications
    # @param korona_account_id [String] account id of the KORONA.cloud account
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page number of the page to fetch
    # @option opts [Integer] :size amount of objects to return per page
    # @option opts [String] :sort attribute to sort by (multiple separated by comma; max. 5)
    # @option opts [Integer] :revision last revision number, objects with a greater revision than this will be returned
    # @option opts [Boolean] :include_deleted indicates deleted objects should be loaded or not (default: false)
    # @option opts [Time] :min_create_time min (inclusive) create time of the receipt (ISO 8601; Format: YYYY-MM-DDTHH:MM:SS; timezone optional)
    # @option opts [Time] :max_create_time max (inclusive) create time of the receipt (ISO 8601; Format: YYYY-MM-DDTHH:MM:SS; timezone optional)
    # @option opts [Time] :min_booking_time min (inclusive) booking time of the receipt (ISO 8601; Format: YYYY-MM-DDTHH:MM:SS; timezone optional)
    # @option opts [Time] :max_booking_time max (inclusive) booking time of the receipt (ISO 8601; Format: YYYY-MM-DDTHH:MM:SS; timezone optional)
    # @option opts [String] :organizational_unit organizational unit
    # @option opts [String] :source_organizational_unit source organizational unit
    # @option opts [String] :booking_status booking status (possible values: BOOKED, IN_PROGRESS)
    # @option opts [String] :number number of the related object
    # @return [ResultListDispatchNotification]
    def get_dispatch_notifications(korona_account_id, opts = {})
      data, _status_code, _headers = get_dispatch_notifications_with_http_info(korona_account_id, opts)
      data
    end

    # lists all dispatch notifications
    # @param korona_account_id [String] account id of the KORONA.cloud account
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page number of the page to fetch
    # @option opts [Integer] :size amount of objects to return per page
    # @option opts [String] :sort attribute to sort by (multiple separated by comma; max. 5)
    # @option opts [Integer] :revision last revision number, objects with a greater revision than this will be returned
    # @option opts [Boolean] :include_deleted indicates deleted objects should be loaded or not (default: false)
    # @option opts [Time] :min_create_time min (inclusive) create time of the receipt (ISO 8601; Format: YYYY-MM-DDTHH:MM:SS; timezone optional)
    # @option opts [Time] :max_create_time max (inclusive) create time of the receipt (ISO 8601; Format: YYYY-MM-DDTHH:MM:SS; timezone optional)
    # @option opts [Time] :min_booking_time min (inclusive) booking time of the receipt (ISO 8601; Format: YYYY-MM-DDTHH:MM:SS; timezone optional)
    # @option opts [Time] :max_booking_time max (inclusive) booking time of the receipt (ISO 8601; Format: YYYY-MM-DDTHH:MM:SS; timezone optional)
    # @option opts [String] :organizational_unit organizational unit
    # @option opts [String] :source_organizational_unit source organizational unit
    # @option opts [String] :booking_status booking status (possible values: BOOKED, IN_PROGRESS)
    # @option opts [String] :number number of the related object
    # @return [Array<(ResultListDispatchNotification, Integer, Hash)>] ResultListDispatchNotification data, response status code and response headers
    def get_dispatch_notifications_with_http_info(korona_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DispatchNotificationsApi.get_dispatch_notifications ...'
      end
      # verify the required parameter 'korona_account_id' is set
      if @api_client.config.client_side_validation && korona_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'korona_account_id' when calling DispatchNotificationsApi.get_dispatch_notifications"
      end
      allowable_values = ["BOOKED", "IN_PROGRESS"]
      if @api_client.config.client_side_validation && opts[:'booking_status'] && !allowable_values.include?(opts[:'booking_status'])
        fail ArgumentError, "invalid value for \"booking_status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/accounts/{koronaAccountId}/dispatchNotifications'.sub('{' + 'koronaAccountId' + '}', CGI.escape(korona_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'revision'] = opts[:'revision'] if !opts[:'revision'].nil?
      query_params[:'includeDeleted'] = opts[:'include_deleted'] if !opts[:'include_deleted'].nil?
      query_params[:'minCreateTime'] = opts[:'min_create_time'] if !opts[:'min_create_time'].nil?
      query_params[:'maxCreateTime'] = opts[:'max_create_time'] if !opts[:'max_create_time'].nil?
      query_params[:'minBookingTime'] = opts[:'min_booking_time'] if !opts[:'min_booking_time'].nil?
      query_params[:'maxBookingTime'] = opts[:'max_booking_time'] if !opts[:'max_booking_time'].nil?
      query_params[:'organizationalUnit'] = opts[:'organizational_unit'] if !opts[:'organizational_unit'].nil?
      query_params[:'sourceOrganizationalUnit'] = opts[:'source_organizational_unit'] if !opts[:'source_organizational_unit'].nil?
      query_params[:'bookingStatus'] = opts[:'booking_status'] if !opts[:'booking_status'].nil?
      query_params[:'number'] = opts[:'number'] if !opts[:'number'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResultListDispatchNotification'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"DispatchNotificationsApi.get_dispatch_notifications",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DispatchNotificationsApi#get_dispatch_notifications\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # updates the single dispatch notification
    # @param korona_account_id [String] account id of the KORONA.cloud account
    # @param dispatch_notification_id [String] id of the related object (important: id should match the uuid-format)
    # @param dispatch_notification [DispatchNotification] data to update
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def update_dispatch_notification(korona_account_id, dispatch_notification_id, dispatch_notification, opts = {})
      update_dispatch_notification_with_http_info(korona_account_id, dispatch_notification_id, dispatch_notification, opts)
      nil
    end

    # updates the single dispatch notification
    # @param korona_account_id [String] account id of the KORONA.cloud account
    # @param dispatch_notification_id [String] id of the related object (important: id should match the uuid-format)
    # @param dispatch_notification [DispatchNotification] data to update
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def update_dispatch_notification_with_http_info(korona_account_id, dispatch_notification_id, dispatch_notification, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DispatchNotificationsApi.update_dispatch_notification ...'
      end
      # verify the required parameter 'korona_account_id' is set
      if @api_client.config.client_side_validation && korona_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'korona_account_id' when calling DispatchNotificationsApi.update_dispatch_notification"
      end
      # verify the required parameter 'dispatch_notification_id' is set
      if @api_client.config.client_side_validation && dispatch_notification_id.nil?
        fail ArgumentError, "Missing the required parameter 'dispatch_notification_id' when calling DispatchNotificationsApi.update_dispatch_notification"
      end
      # verify the required parameter 'dispatch_notification' is set
      if @api_client.config.client_side_validation && dispatch_notification.nil?
        fail ArgumentError, "Missing the required parameter 'dispatch_notification' when calling DispatchNotificationsApi.update_dispatch_notification"
      end
      # resource path
      local_var_path = '/accounts/{koronaAccountId}/dispatchNotifications/{dispatchNotificationId}'.sub('{' + 'koronaAccountId' + '}', CGI.escape(korona_account_id.to_s)).sub('{' + 'dispatchNotificationId' + '}', CGI.escape(dispatch_notification_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(dispatch_notification)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"DispatchNotificationsApi.update_dispatch_notification",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DispatchNotificationsApi#update_dispatch_notification\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # updates the single dispatch notification item
    # @param korona_account_id [String] account id of the KORONA.cloud account
    # @param dispatch_notification_id [String] id of the related object (important: id should match the uuid-format)
    # @param dispatch_notification_item_id [String] id of the related object (important: id should match the uuid-format)
    # @param dispatch_notification_item [DispatchNotificationItem] data to update
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :assign_existing_product try to assign an existing product using codes set in import item data
    # @return [nil]
    def update_dispatch_notification_item(korona_account_id, dispatch_notification_id, dispatch_notification_item_id, dispatch_notification_item, opts = {})
      update_dispatch_notification_item_with_http_info(korona_account_id, dispatch_notification_id, dispatch_notification_item_id, dispatch_notification_item, opts)
      nil
    end

    # updates the single dispatch notification item
    # @param korona_account_id [String] account id of the KORONA.cloud account
    # @param dispatch_notification_id [String] id of the related object (important: id should match the uuid-format)
    # @param dispatch_notification_item_id [String] id of the related object (important: id should match the uuid-format)
    # @param dispatch_notification_item [DispatchNotificationItem] data to update
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :assign_existing_product try to assign an existing product using codes set in import item data
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def update_dispatch_notification_item_with_http_info(korona_account_id, dispatch_notification_id, dispatch_notification_item_id, dispatch_notification_item, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DispatchNotificationsApi.update_dispatch_notification_item ...'
      end
      # verify the required parameter 'korona_account_id' is set
      if @api_client.config.client_side_validation && korona_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'korona_account_id' when calling DispatchNotificationsApi.update_dispatch_notification_item"
      end
      # verify the required parameter 'dispatch_notification_id' is set
      if @api_client.config.client_side_validation && dispatch_notification_id.nil?
        fail ArgumentError, "Missing the required parameter 'dispatch_notification_id' when calling DispatchNotificationsApi.update_dispatch_notification_item"
      end
      # verify the required parameter 'dispatch_notification_item_id' is set
      if @api_client.config.client_side_validation && dispatch_notification_item_id.nil?
        fail ArgumentError, "Missing the required parameter 'dispatch_notification_item_id' when calling DispatchNotificationsApi.update_dispatch_notification_item"
      end
      # verify the required parameter 'dispatch_notification_item' is set
      if @api_client.config.client_side_validation && dispatch_notification_item.nil?
        fail ArgumentError, "Missing the required parameter 'dispatch_notification_item' when calling DispatchNotificationsApi.update_dispatch_notification_item"
      end
      # resource path
      local_var_path = '/accounts/{koronaAccountId}/dispatchNotifications/{dispatchNotificationId}/items/{dispatchNotificationItemId}'.sub('{' + 'koronaAccountId' + '}', CGI.escape(korona_account_id.to_s)).sub('{' + 'dispatchNotificationId' + '}', CGI.escape(dispatch_notification_id.to_s)).sub('{' + 'dispatchNotificationItemId' + '}', CGI.escape(dispatch_notification_item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'assignExistingProduct'] = opts[:'assign_existing_product'] if !opts[:'assign_existing_product'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(dispatch_notification_item)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"DispatchNotificationsApi.update_dispatch_notification_item",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DispatchNotificationsApi#update_dispatch_notification_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # updates dispatch notification items
    # @param korona_account_id [String] account id of the KORONA.cloud account
    # @param dispatch_notification_id [String] id of the related object (important: id should match the uuid-format)
    # @param dispatch_notification_item [Array<DispatchNotificationItem>] data to update
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :assign_existing_product try to assign an existing product using codes set in import item data
    # @return [Array<AddOrUpdateResult>]
    def update_dispatch_notification_items(korona_account_id, dispatch_notification_id, dispatch_notification_item, opts = {})
      data, _status_code, _headers = update_dispatch_notification_items_with_http_info(korona_account_id, dispatch_notification_id, dispatch_notification_item, opts)
      data
    end

    # updates dispatch notification items
    # @param korona_account_id [String] account id of the KORONA.cloud account
    # @param dispatch_notification_id [String] id of the related object (important: id should match the uuid-format)
    # @param dispatch_notification_item [Array<DispatchNotificationItem>] data to update
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :assign_existing_product try to assign an existing product using codes set in import item data
    # @return [Array<(Array<AddOrUpdateResult>, Integer, Hash)>] Array<AddOrUpdateResult> data, response status code and response headers
    def update_dispatch_notification_items_with_http_info(korona_account_id, dispatch_notification_id, dispatch_notification_item, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DispatchNotificationsApi.update_dispatch_notification_items ...'
      end
      # verify the required parameter 'korona_account_id' is set
      if @api_client.config.client_side_validation && korona_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'korona_account_id' when calling DispatchNotificationsApi.update_dispatch_notification_items"
      end
      # verify the required parameter 'dispatch_notification_id' is set
      if @api_client.config.client_side_validation && dispatch_notification_id.nil?
        fail ArgumentError, "Missing the required parameter 'dispatch_notification_id' when calling DispatchNotificationsApi.update_dispatch_notification_items"
      end
      # verify the required parameter 'dispatch_notification_item' is set
      if @api_client.config.client_side_validation && dispatch_notification_item.nil?
        fail ArgumentError, "Missing the required parameter 'dispatch_notification_item' when calling DispatchNotificationsApi.update_dispatch_notification_items"
      end
      # resource path
      local_var_path = '/accounts/{koronaAccountId}/dispatchNotifications/{dispatchNotificationId}/items'.sub('{' + 'koronaAccountId' + '}', CGI.escape(korona_account_id.to_s)).sub('{' + 'dispatchNotificationId' + '}', CGI.escape(dispatch_notification_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'assignExistingProduct'] = opts[:'assign_existing_product'] if !opts[:'assign_existing_product'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(dispatch_notification_item)

      # return_type
      return_type = opts[:debug_return_type] || 'Array<AddOrUpdateResult>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"DispatchNotificationsApi.update_dispatch_notification_items",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DispatchNotificationsApi#update_dispatch_notification_items\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
