=begin
#KORONA.cloud API v3

#Our api provides access to our cloud services

The version of the OpenAPI document: 2.19.20
Contact: support@combase.net
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.1.0

=end

require 'cgi'

module KoronaCloudClient
  class StockAdjustmentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # adds stock adjustment items
    # @param korona_account_id [String] account id of the KORONA.cloud account
    # @param stock_adjustment_id [String] id of the related object (important: id should match the uuid-format)
    # @param body [Array<StockAdjustmentItem>] data to add
    # @param [Hash] opts the optional parameters
    # @return [Array<AddOrUpdateResult>]
    def add_stock_adjustment_items(korona_account_id, stock_adjustment_id, body, opts = {})
      data, _status_code, _headers = add_stock_adjustment_items_with_http_info(korona_account_id, stock_adjustment_id, body, opts)
      data
    end

    # adds stock adjustment items
    # @param korona_account_id [String] account id of the KORONA.cloud account
    # @param stock_adjustment_id [String] id of the related object (important: id should match the uuid-format)
    # @param body [Array<StockAdjustmentItem>] data to add
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<AddOrUpdateResult>, Integer, Hash)>] Array<AddOrUpdateResult> data, response status code and response headers
    def add_stock_adjustment_items_with_http_info(korona_account_id, stock_adjustment_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StockAdjustmentsApi.add_stock_adjustment_items ...'
      end
      # verify the required parameter 'korona_account_id' is set
      if @api_client.config.client_side_validation && korona_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'korona_account_id' when calling StockAdjustmentsApi.add_stock_adjustment_items"
      end
      # verify the required parameter 'stock_adjustment_id' is set
      if @api_client.config.client_side_validation && stock_adjustment_id.nil?
        fail ArgumentError, "Missing the required parameter 'stock_adjustment_id' when calling StockAdjustmentsApi.add_stock_adjustment_items"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling StockAdjustmentsApi.add_stock_adjustment_items"
      end
      # resource path
      local_var_path = '/accounts/{koronaAccountId}/stockAdjustments/{stockAdjustmentId}/items'.sub('{' + 'koronaAccountId' + '}', CGI.escape(korona_account_id.to_s)).sub('{' + 'stockAdjustmentId' + '}', CGI.escape(stock_adjustment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'Array<AddOrUpdateResult>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"StockAdjustmentsApi.add_stock_adjustment_items",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StockAdjustmentsApi#add_stock_adjustment_items\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # adds stock adjustments
    # @param korona_account_id [String] account id of the KORONA.cloud account
    # @param body [Array<StockAdjustment>] data to add
    # @param [Hash] opts the optional parameters
    # @return [Array<AddOrUpdateResult>]
    def add_stock_adjustments(korona_account_id, body, opts = {})
      data, _status_code, _headers = add_stock_adjustments_with_http_info(korona_account_id, body, opts)
      data
    end

    # adds stock adjustments
    # @param korona_account_id [String] account id of the KORONA.cloud account
    # @param body [Array<StockAdjustment>] data to add
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<AddOrUpdateResult>, Integer, Hash)>] Array<AddOrUpdateResult> data, response status code and response headers
    def add_stock_adjustments_with_http_info(korona_account_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StockAdjustmentsApi.add_stock_adjustments ...'
      end
      # verify the required parameter 'korona_account_id' is set
      if @api_client.config.client_side_validation && korona_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'korona_account_id' when calling StockAdjustmentsApi.add_stock_adjustments"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling StockAdjustmentsApi.add_stock_adjustments"
      end
      # resource path
      local_var_path = '/accounts/{koronaAccountId}/stockAdjustments'.sub('{' + 'koronaAccountId' + '}', CGI.escape(korona_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'Array<AddOrUpdateResult>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"StockAdjustmentsApi.add_stock_adjustments",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StockAdjustmentsApi#add_stock_adjustments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # book the single stock adjustment
    # @param korona_account_id [String] account id of the KORONA.cloud account
    # @param stock_adjustment_id [String] id of the related object (important: id should match the uuid-format)
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def book_stock_adjustment(korona_account_id, stock_adjustment_id, opts = {})
      book_stock_adjustment_with_http_info(korona_account_id, stock_adjustment_id, opts)
      nil
    end

    # book the single stock adjustment
    # @param korona_account_id [String] account id of the KORONA.cloud account
    # @param stock_adjustment_id [String] id of the related object (important: id should match the uuid-format)
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def book_stock_adjustment_with_http_info(korona_account_id, stock_adjustment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StockAdjustmentsApi.book_stock_adjustment ...'
      end
      # verify the required parameter 'korona_account_id' is set
      if @api_client.config.client_side_validation && korona_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'korona_account_id' when calling StockAdjustmentsApi.book_stock_adjustment"
      end
      # verify the required parameter 'stock_adjustment_id' is set
      if @api_client.config.client_side_validation && stock_adjustment_id.nil?
        fail ArgumentError, "Missing the required parameter 'stock_adjustment_id' when calling StockAdjustmentsApi.book_stock_adjustment"
      end
      # resource path
      local_var_path = '/accounts/{koronaAccountId}/stockAdjustments/{stockAdjustmentId}/book'.sub('{' + 'koronaAccountId' + '}', CGI.escape(korona_account_id.to_s)).sub('{' + 'stockAdjustmentId' + '}', CGI.escape(stock_adjustment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"StockAdjustmentsApi.book_stock_adjustment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StockAdjustmentsApi#book_stock_adjustment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # deletes the single stock adjustment item
    # @param korona_account_id [String] account id of the KORONA.cloud account
    # @param stock_adjustment_id [String] id of the related object (important: id should match the uuid-format)
    # @param product_id [String] id of the related object (important: id should match the uuid-format)
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_stock_adjustment_item(korona_account_id, stock_adjustment_id, product_id, opts = {})
      delete_stock_adjustment_item_with_http_info(korona_account_id, stock_adjustment_id, product_id, opts)
      nil
    end

    # deletes the single stock adjustment item
    # @param korona_account_id [String] account id of the KORONA.cloud account
    # @param stock_adjustment_id [String] id of the related object (important: id should match the uuid-format)
    # @param product_id [String] id of the related object (important: id should match the uuid-format)
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_stock_adjustment_item_with_http_info(korona_account_id, stock_adjustment_id, product_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StockAdjustmentsApi.delete_stock_adjustment_item ...'
      end
      # verify the required parameter 'korona_account_id' is set
      if @api_client.config.client_side_validation && korona_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'korona_account_id' when calling StockAdjustmentsApi.delete_stock_adjustment_item"
      end
      # verify the required parameter 'stock_adjustment_id' is set
      if @api_client.config.client_side_validation && stock_adjustment_id.nil?
        fail ArgumentError, "Missing the required parameter 'stock_adjustment_id' when calling StockAdjustmentsApi.delete_stock_adjustment_item"
      end
      # verify the required parameter 'product_id' is set
      if @api_client.config.client_side_validation && product_id.nil?
        fail ArgumentError, "Missing the required parameter 'product_id' when calling StockAdjustmentsApi.delete_stock_adjustment_item"
      end
      # resource path
      local_var_path = '/accounts/{koronaAccountId}/stockAdjustments/{stockAdjustmentId}/items/{productId}'.sub('{' + 'koronaAccountId' + '}', CGI.escape(korona_account_id.to_s)).sub('{' + 'stockAdjustmentId' + '}', CGI.escape(stock_adjustment_id.to_s)).sub('{' + 'productId' + '}', CGI.escape(product_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"StockAdjustmentsApi.delete_stock_adjustment_item",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StockAdjustmentsApi#delete_stock_adjustment_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # returns a single stock adjustment
    # @param korona_account_id [String] account id of the KORONA.cloud account
    # @param stock_adjustment_id [String] id of the related object (important: id should match the uuid-format)
    # @param [Hash] opts the optional parameters
    # @return [StockAdjustment]
    def get_stock_adjustment(korona_account_id, stock_adjustment_id, opts = {})
      data, _status_code, _headers = get_stock_adjustment_with_http_info(korona_account_id, stock_adjustment_id, opts)
      data
    end

    # returns a single stock adjustment
    # @param korona_account_id [String] account id of the KORONA.cloud account
    # @param stock_adjustment_id [String] id of the related object (important: id should match the uuid-format)
    # @param [Hash] opts the optional parameters
    # @return [Array<(StockAdjustment, Integer, Hash)>] StockAdjustment data, response status code and response headers
    def get_stock_adjustment_with_http_info(korona_account_id, stock_adjustment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StockAdjustmentsApi.get_stock_adjustment ...'
      end
      # verify the required parameter 'korona_account_id' is set
      if @api_client.config.client_side_validation && korona_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'korona_account_id' when calling StockAdjustmentsApi.get_stock_adjustment"
      end
      # verify the required parameter 'stock_adjustment_id' is set
      if @api_client.config.client_side_validation && stock_adjustment_id.nil?
        fail ArgumentError, "Missing the required parameter 'stock_adjustment_id' when calling StockAdjustmentsApi.get_stock_adjustment"
      end
      # resource path
      local_var_path = '/accounts/{koronaAccountId}/stockAdjustments/{stockAdjustmentId}'.sub('{' + 'koronaAccountId' + '}', CGI.escape(korona_account_id.to_s)).sub('{' + 'stockAdjustmentId' + '}', CGI.escape(stock_adjustment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StockAdjustment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"StockAdjustmentsApi.get_stock_adjustment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StockAdjustmentsApi#get_stock_adjustment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # returns a single stock adjustment item
    # @param korona_account_id [String] account id of the KORONA.cloud account
    # @param stock_adjustment_id [String] id of the related object (important: id should match the uuid-format)
    # @param product_id [String] id of the related object (important: id should match the uuid-format)
    # @param [Hash] opts the optional parameters
    # @return [StockAdjustmentItem]
    def get_stock_adjustment_item(korona_account_id, stock_adjustment_id, product_id, opts = {})
      data, _status_code, _headers = get_stock_adjustment_item_with_http_info(korona_account_id, stock_adjustment_id, product_id, opts)
      data
    end

    # returns a single stock adjustment item
    # @param korona_account_id [String] account id of the KORONA.cloud account
    # @param stock_adjustment_id [String] id of the related object (important: id should match the uuid-format)
    # @param product_id [String] id of the related object (important: id should match the uuid-format)
    # @param [Hash] opts the optional parameters
    # @return [Array<(StockAdjustmentItem, Integer, Hash)>] StockAdjustmentItem data, response status code and response headers
    def get_stock_adjustment_item_with_http_info(korona_account_id, stock_adjustment_id, product_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StockAdjustmentsApi.get_stock_adjustment_item ...'
      end
      # verify the required parameter 'korona_account_id' is set
      if @api_client.config.client_side_validation && korona_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'korona_account_id' when calling StockAdjustmentsApi.get_stock_adjustment_item"
      end
      # verify the required parameter 'stock_adjustment_id' is set
      if @api_client.config.client_side_validation && stock_adjustment_id.nil?
        fail ArgumentError, "Missing the required parameter 'stock_adjustment_id' when calling StockAdjustmentsApi.get_stock_adjustment_item"
      end
      # verify the required parameter 'product_id' is set
      if @api_client.config.client_side_validation && product_id.nil?
        fail ArgumentError, "Missing the required parameter 'product_id' when calling StockAdjustmentsApi.get_stock_adjustment_item"
      end
      # resource path
      local_var_path = '/accounts/{koronaAccountId}/stockAdjustments/{stockAdjustmentId}/items/{productId}'.sub('{' + 'koronaAccountId' + '}', CGI.escape(korona_account_id.to_s)).sub('{' + 'stockAdjustmentId' + '}', CGI.escape(stock_adjustment_id.to_s)).sub('{' + 'productId' + '}', CGI.escape(product_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StockAdjustmentItem'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"StockAdjustmentsApi.get_stock_adjustment_item",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StockAdjustmentsApi#get_stock_adjustment_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # lists all stock adjustment items
    # @param korona_account_id [String] account id of the KORONA.cloud account
    # @param stock_adjustment_id [String] id of the related object (important: id should match the uuid-format)
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page number of the page to fetch
    # @option opts [Integer] :size amount of objects to return per page
    # @option opts [String] :sort attribute to sort by (multiple separated by comma; max. 5)
    # @option opts [Integer] :revision last revision number, objects with a greater revision than this will be returned
    # @return [ResultListStockAdjustmentItem]
    def get_stock_adjustment_items(korona_account_id, stock_adjustment_id, opts = {})
      data, _status_code, _headers = get_stock_adjustment_items_with_http_info(korona_account_id, stock_adjustment_id, opts)
      data
    end

    # lists all stock adjustment items
    # @param korona_account_id [String] account id of the KORONA.cloud account
    # @param stock_adjustment_id [String] id of the related object (important: id should match the uuid-format)
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page number of the page to fetch
    # @option opts [Integer] :size amount of objects to return per page
    # @option opts [String] :sort attribute to sort by (multiple separated by comma; max. 5)
    # @option opts [Integer] :revision last revision number, objects with a greater revision than this will be returned
    # @return [Array<(ResultListStockAdjustmentItem, Integer, Hash)>] ResultListStockAdjustmentItem data, response status code and response headers
    def get_stock_adjustment_items_with_http_info(korona_account_id, stock_adjustment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StockAdjustmentsApi.get_stock_adjustment_items ...'
      end
      # verify the required parameter 'korona_account_id' is set
      if @api_client.config.client_side_validation && korona_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'korona_account_id' when calling StockAdjustmentsApi.get_stock_adjustment_items"
      end
      # verify the required parameter 'stock_adjustment_id' is set
      if @api_client.config.client_side_validation && stock_adjustment_id.nil?
        fail ArgumentError, "Missing the required parameter 'stock_adjustment_id' when calling StockAdjustmentsApi.get_stock_adjustment_items"
      end
      # resource path
      local_var_path = '/accounts/{koronaAccountId}/stockAdjustments/{stockAdjustmentId}/items'.sub('{' + 'koronaAccountId' + '}', CGI.escape(korona_account_id.to_s)).sub('{' + 'stockAdjustmentId' + '}', CGI.escape(stock_adjustment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'revision'] = opts[:'revision'] if !opts[:'revision'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResultListStockAdjustmentItem'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"StockAdjustmentsApi.get_stock_adjustment_items",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StockAdjustmentsApi#get_stock_adjustment_items\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # lists all stock adjustments
    # @param korona_account_id [String] account id of the KORONA.cloud account
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page number of the page to fetch
    # @option opts [Integer] :size amount of objects to return per page
    # @option opts [String] :sort attribute to sort by (multiple separated by comma; max. 5)
    # @option opts [Integer] :revision last revision number, objects with a greater revision than this will be returned
    # @option opts [Boolean] :include_deleted indicates deleted objects should be loaded or not (default: false)
    # @option opts [Time] :min_finish_time min (inclusive) finish time of the receipt (ISO 8601; Format: YYYY-MM-DDTHH:MM:SS; timezone optional)
    # @option opts [Time] :max_finish_time max (inclusive) finish time of the receipt (ISO 8601; Format: YYYY-MM-DDTHH:MM:SS; timezone optional)
    # @option opts [Time] :min_booking_time min (inclusive) booking time of the receipt (ISO 8601; Format: YYYY-MM-DDTHH:MM:SS; timezone optional)
    # @option opts [Time] :max_booking_time max (inclusive) booking time of the receipt (ISO 8601; Format: YYYY-MM-DDTHH:MM:SS; timezone optional)
    # @option opts [String] :warehouse warehouse (&#x3D; organizational unit having warehouse flag)
    # @option opts [String] :booking_status booking status (possible values: BOOKED, IN_PROGRESS)
    # @option opts [String] :number number of the related object
    # @option opts [String] :receipt_number receipt number
    # @return [ResultListStockAdjustment]
    def get_stock_adjustments(korona_account_id, opts = {})
      data, _status_code, _headers = get_stock_adjustments_with_http_info(korona_account_id, opts)
      data
    end

    # lists all stock adjustments
    # @param korona_account_id [String] account id of the KORONA.cloud account
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page number of the page to fetch
    # @option opts [Integer] :size amount of objects to return per page
    # @option opts [String] :sort attribute to sort by (multiple separated by comma; max. 5)
    # @option opts [Integer] :revision last revision number, objects with a greater revision than this will be returned
    # @option opts [Boolean] :include_deleted indicates deleted objects should be loaded or not (default: false)
    # @option opts [Time] :min_finish_time min (inclusive) finish time of the receipt (ISO 8601; Format: YYYY-MM-DDTHH:MM:SS; timezone optional)
    # @option opts [Time] :max_finish_time max (inclusive) finish time of the receipt (ISO 8601; Format: YYYY-MM-DDTHH:MM:SS; timezone optional)
    # @option opts [Time] :min_booking_time min (inclusive) booking time of the receipt (ISO 8601; Format: YYYY-MM-DDTHH:MM:SS; timezone optional)
    # @option opts [Time] :max_booking_time max (inclusive) booking time of the receipt (ISO 8601; Format: YYYY-MM-DDTHH:MM:SS; timezone optional)
    # @option opts [String] :warehouse warehouse (&#x3D; organizational unit having warehouse flag)
    # @option opts [String] :booking_status booking status (possible values: BOOKED, IN_PROGRESS)
    # @option opts [String] :number number of the related object
    # @option opts [String] :receipt_number receipt number
    # @return [Array<(ResultListStockAdjustment, Integer, Hash)>] ResultListStockAdjustment data, response status code and response headers
    def get_stock_adjustments_with_http_info(korona_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StockAdjustmentsApi.get_stock_adjustments ...'
      end
      # verify the required parameter 'korona_account_id' is set
      if @api_client.config.client_side_validation && korona_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'korona_account_id' when calling StockAdjustmentsApi.get_stock_adjustments"
      end
      allowable_values = ["BOOKED", "IN_PROGRESS"]
      if @api_client.config.client_side_validation && opts[:'booking_status'] && !allowable_values.include?(opts[:'booking_status'])
        fail ArgumentError, "invalid value for \"booking_status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/accounts/{koronaAccountId}/stockAdjustments'.sub('{' + 'koronaAccountId' + '}', CGI.escape(korona_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'revision'] = opts[:'revision'] if !opts[:'revision'].nil?
      query_params[:'includeDeleted'] = opts[:'include_deleted'] if !opts[:'include_deleted'].nil?
      query_params[:'minFinishTime'] = opts[:'min_finish_time'] if !opts[:'min_finish_time'].nil?
      query_params[:'maxFinishTime'] = opts[:'max_finish_time'] if !opts[:'max_finish_time'].nil?
      query_params[:'minBookingTime'] = opts[:'min_booking_time'] if !opts[:'min_booking_time'].nil?
      query_params[:'maxBookingTime'] = opts[:'max_booking_time'] if !opts[:'max_booking_time'].nil?
      query_params[:'warehouse'] = opts[:'warehouse'] if !opts[:'warehouse'].nil?
      query_params[:'bookingStatus'] = opts[:'booking_status'] if !opts[:'booking_status'].nil?
      query_params[:'number'] = opts[:'number'] if !opts[:'number'].nil?
      query_params[:'receiptNumber'] = opts[:'receipt_number'] if !opts[:'receipt_number'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResultListStockAdjustment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"StockAdjustmentsApi.get_stock_adjustments",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StockAdjustmentsApi#get_stock_adjustments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # updates the single stock adjustment
    # @param korona_account_id [String] account id of the KORONA.cloud account
    # @param stock_adjustment_id [String] id of the related object (important: id should match the uuid-format)
    # @param body [StockAdjustment] data to update
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def update_stock_adjustment(korona_account_id, stock_adjustment_id, body, opts = {})
      update_stock_adjustment_with_http_info(korona_account_id, stock_adjustment_id, body, opts)
      nil
    end

    # updates the single stock adjustment
    # @param korona_account_id [String] account id of the KORONA.cloud account
    # @param stock_adjustment_id [String] id of the related object (important: id should match the uuid-format)
    # @param body [StockAdjustment] data to update
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def update_stock_adjustment_with_http_info(korona_account_id, stock_adjustment_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StockAdjustmentsApi.update_stock_adjustment ...'
      end
      # verify the required parameter 'korona_account_id' is set
      if @api_client.config.client_side_validation && korona_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'korona_account_id' when calling StockAdjustmentsApi.update_stock_adjustment"
      end
      # verify the required parameter 'stock_adjustment_id' is set
      if @api_client.config.client_side_validation && stock_adjustment_id.nil?
        fail ArgumentError, "Missing the required parameter 'stock_adjustment_id' when calling StockAdjustmentsApi.update_stock_adjustment"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling StockAdjustmentsApi.update_stock_adjustment"
      end
      # resource path
      local_var_path = '/accounts/{koronaAccountId}/stockAdjustments/{stockAdjustmentId}'.sub('{' + 'koronaAccountId' + '}', CGI.escape(korona_account_id.to_s)).sub('{' + 'stockAdjustmentId' + '}', CGI.escape(stock_adjustment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"StockAdjustmentsApi.update_stock_adjustment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StockAdjustmentsApi#update_stock_adjustment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # updates the single stock adjustment item
    # @param korona_account_id [String] account id of the KORONA.cloud account
    # @param stock_adjustment_id [String] id of the related object (important: id should match the uuid-format)
    # @param product_id [String] id of the related object (important: id should match the uuid-format)
    # @param body [StockAdjustmentItem] data to update
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def update_stock_adjustment_item(korona_account_id, stock_adjustment_id, product_id, body, opts = {})
      update_stock_adjustment_item_with_http_info(korona_account_id, stock_adjustment_id, product_id, body, opts)
      nil
    end

    # updates the single stock adjustment item
    # @param korona_account_id [String] account id of the KORONA.cloud account
    # @param stock_adjustment_id [String] id of the related object (important: id should match the uuid-format)
    # @param product_id [String] id of the related object (important: id should match the uuid-format)
    # @param body [StockAdjustmentItem] data to update
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def update_stock_adjustment_item_with_http_info(korona_account_id, stock_adjustment_id, product_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StockAdjustmentsApi.update_stock_adjustment_item ...'
      end
      # verify the required parameter 'korona_account_id' is set
      if @api_client.config.client_side_validation && korona_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'korona_account_id' when calling StockAdjustmentsApi.update_stock_adjustment_item"
      end
      # verify the required parameter 'stock_adjustment_id' is set
      if @api_client.config.client_side_validation && stock_adjustment_id.nil?
        fail ArgumentError, "Missing the required parameter 'stock_adjustment_id' when calling StockAdjustmentsApi.update_stock_adjustment_item"
      end
      # verify the required parameter 'product_id' is set
      if @api_client.config.client_side_validation && product_id.nil?
        fail ArgumentError, "Missing the required parameter 'product_id' when calling StockAdjustmentsApi.update_stock_adjustment_item"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling StockAdjustmentsApi.update_stock_adjustment_item"
      end
      # resource path
      local_var_path = '/accounts/{koronaAccountId}/stockAdjustments/{stockAdjustmentId}/items/{productId}'.sub('{' + 'koronaAccountId' + '}', CGI.escape(korona_account_id.to_s)).sub('{' + 'stockAdjustmentId' + '}', CGI.escape(stock_adjustment_id.to_s)).sub('{' + 'productId' + '}', CGI.escape(product_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"StockAdjustmentsApi.update_stock_adjustment_item",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StockAdjustmentsApi#update_stock_adjustment_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # updates stock adjustment items
    # @param korona_account_id [String] account id of the KORONA.cloud account
    # @param stock_adjustment_id [String] id of the related object (important: id should match the uuid-format)
    # @param body [Array<StockAdjustmentItem>] data to update
    # @param [Hash] opts the optional parameters
    # @return [Array<AddOrUpdateResult>]
    def update_stock_adjustment_items(korona_account_id, stock_adjustment_id, body, opts = {})
      data, _status_code, _headers = update_stock_adjustment_items_with_http_info(korona_account_id, stock_adjustment_id, body, opts)
      data
    end

    # updates stock adjustment items
    # @param korona_account_id [String] account id of the KORONA.cloud account
    # @param stock_adjustment_id [String] id of the related object (important: id should match the uuid-format)
    # @param body [Array<StockAdjustmentItem>] data to update
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<AddOrUpdateResult>, Integer, Hash)>] Array<AddOrUpdateResult> data, response status code and response headers
    def update_stock_adjustment_items_with_http_info(korona_account_id, stock_adjustment_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StockAdjustmentsApi.update_stock_adjustment_items ...'
      end
      # verify the required parameter 'korona_account_id' is set
      if @api_client.config.client_side_validation && korona_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'korona_account_id' when calling StockAdjustmentsApi.update_stock_adjustment_items"
      end
      # verify the required parameter 'stock_adjustment_id' is set
      if @api_client.config.client_side_validation && stock_adjustment_id.nil?
        fail ArgumentError, "Missing the required parameter 'stock_adjustment_id' when calling StockAdjustmentsApi.update_stock_adjustment_items"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling StockAdjustmentsApi.update_stock_adjustment_items"
      end
      # resource path
      local_var_path = '/accounts/{koronaAccountId}/stockAdjustments/{stockAdjustmentId}/items'.sub('{' + 'koronaAccountId' + '}', CGI.escape(korona_account_id.to_s)).sub('{' + 'stockAdjustmentId' + '}', CGI.escape(stock_adjustment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'Array<AddOrUpdateResult>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"StockAdjustmentsApi.update_stock_adjustment_items",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StockAdjustmentsApi#update_stock_adjustment_items\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
